= form_for @default_customer_detail do |f|
  = render 'shared/form_errors', resource: @default_customer_detail
  %div
    = f.label :category
    = f.select :customer_detail_category_id, customer_detail_categories_for_select
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :large_field, "Large field?"
    = f.check_box :large_field
  %div
    = f.label :visible_in_index, "Visible in index?"
    = f.check_box :visible_in_index
  %div
    = f.label :singular, "Singular field?"
    = f.check_box :singular
  %div
    = f.submit "Submit", class: "btn"
