- delete_params ||= {}
%tr{data: {id: job_note.id}}
  %td= job_note.content.html_safe
  %td= job_note.date.strftime("%d %b %Y %H:%M")
  %td= job_note.user_name_cache || 'None'
  %td
    - if current_user && current_user.super_admin? || (job_note.user_id == current_user.id && job_note.created_at >= Time.now - 60.minutes)
      = link_to "Delete", job_job_note_path(job, job_note, delete_params), method: :delete, data: {confirm: "Are you sure?", remote: true}
