- if @work_list
  - delete_params = {t1: @work_list.token_1, t2: @work_list.token_2}
- else
  - delete_params = {}

%table#job-notes.table.table-bordered{data: {job_id: job.id}}
  %thead
    %tr
      %td Note
      %td Date
      %td By
      %th &nbsp;
  %tbody
    = render partial: 'job_notes/job_note', collection: job.job_notes, as: :job_note, locals: {job: job, delete_params: delete_params}
