<% if @success %>
  $('form#new_job_note[data-job-id="<%= @job.id %>"] .job-note-errors').slideUp();
  $('table#job-notes[data-job-id="<%= @job.id %>"], .no-job-notes[data-job-id="<%= @job.id %>"]').replaceWith('<%= j render "job_notes/table", job: @job %>');
  $('form#new_job_note[data-job-id="<%= @job.id %>"] textarea[name="job_note[content]"]').data("wysihtml5-editor").clear();

  (function() {
    if (!$('table.work-list-table')[0]) {
      return;
    }

    var row = $('table tr#job-<%= @job.id %>');

    var notesRow = $('table tr#job-<%= @job.id %>-notes');
    if (!notesRow[0]) {
      row.after('<tr id="job-<%= @job.id %>-notes"><td>&nbsp;</td><%= j render "work_lists/job_notes_td", job: @job %></tr>');
      notesRow = $('table tr#job-<%= @job.id %>-notes');
      if (row.hasClass('odd')) {
        notesRow.addClass('odd');
      }
    }

    <% if @job.job_notes.present? %>
      notesRow.find('td.notes')
              .replaceWith('<%= j render "work_lists/job_notes_td", job: @job %>');
      row.find('a.edit-notes')
         .text('Edit notes');
    <% else %>
      notesRow.remove();
      row.find('a.edit-notes')
         .text('Add notes');
    <% end %>
  })();
<% else %>
  $('form#new_job_note .job-note-errors').slideUp(function() {
    $(this).html('<%= j render "shared/form_errors", resource: @job_note %>');
    $(this).slideDown();
  });
<% end %>
