<% if @success %>
  $('table#job-notes tr[data-id="<%= @job_note.id %>"]').remove();

  (function() {
    if (!$('table.work-list-table')[0]) {
      return;
    }

    var row = $('table tr#job-<%= @job.id %>');

    var notesRow = $('table tr#job-<%= @job.id %>-notes');
    if (!notesRow[0]) {
      row.after('<tr id="job-<%= @job.id %>-notes"><td>&nbsp;</td><%= j render "work_lists/job_notes_td", job: @job %></tr>');
      notesRow = $('table tr#job-<%= @job.id %>-notes');
      if (row.hasClass('odd')) {
        notesRow.addClass('odd');
      }
    }

    <% if @job.job_notes.present? %>
      notesRow.find('td.notes')
              .replaceWith('<%= j render "work_lists/job_notes_td", job: @job %>');
      row.find('a.edit-notes')
         .text('Edit notes');
    <% else %>
      notesRow.remove();
      row.find('a.edit-notes')
         .text('Add notes');
    <% end %>
  })();

<% else %>
  alert("There was an error with deleting the note");
<% end %>
