(function() {
  $('tr[data-payment-method="<%= params[:payment_method] %>"] .tick-cross').html('<%= j image_tag(@business.work_list_payment_methods_array.include?(params[:payment_method]) ? "tick.png" : "cross.png") %>');
})();
