- if current_user && (current_user.admin? || current_user.super_admin?)
	= form_for @week do |f|
		= render 'shared/form_errors', resource: @week
		%div
		= f.label :tag
		= f.text_field :tag
		%div
		= f.submit "Save and view week", class: 'btn'
		&nbsp;
		&nbsp;
		= f.submit "Save and view index", class: 'btn'
