%td{class: work_list.html_classes, data: {work_list_id: work_list.id}}
  %span.td-content
    %span.full-name
      = link_to work_list.full_name, work_list
    - if current_user && (current_user.admin? || current_user.super_admin?)
      = link_to '#', class: 'edit-work-list-tag', title: 'Edit tag' do
        %span.icon.icon-pencil
        //- if @work_list
        //  = link_to "Deactivate", deactivate_customer_path(@customer), class: 'btn'
        //- else
        //  = link_to "Activate", activate_customer_path(@customer), class: 'btn'
        
  %span.edit-work-list-tag-field.input-append.hide
    = text_field_tag :tag, work_list.tag
    = button_tag class: 'btn', type: 'button', data: {work_list_id: work_list.id} do
      %span.icon.icon-ok
  - if work_list.apply_target? && work_list.target_met?
    %span.icon.icon-star.target-met-icon
