- if previous_week.present? && previous_week.start_date < (week.start_date - 1.week).to_date
  %tr
    %td ...
%tr.clickable-row{class: week == current_business.current_week && "current-week", data: {resource: 'weeks', id: week.id}}
  %td.clickable
    = week.start_date.to_s(:long)
    - if week.tag.present?
      \-
      = week.tag
  %td
    - if current_user && (current_user.admin? || current_user.super_admin?)
      = link_to "Edit", edit_week_path(week)
- previous_week = week