%div
  - if @weeks.blank?
    = link_to "Generate your first cycle", generate_cycle_weeks_path

%table#weeks-index.table.table-bordered
  %thead
    %tr
      %th Week starting
      %th &nbsp;
  %tbody
    - previous_week = nil
    -if current_user.hasRoleInList(['Super_Admin', 'Admin'])
      - @weeks.each do |week|
        =render partial: "week_for_index", locals:{previous_week: previous_week, week: week}
    -else
      - @weeks.past.each do |week|
        =render partial: "week_for_index", locals:{previous_week: previous_week, week: week}
