- day_options = short_days_of_week.map.with_index { |day, i| [day, i] }
- work_list_category_options = current_business.work_list_categories.map { |wlc| [wlc.name, wlc.id] }
- default_vat_rate = current_business.default_vat_rate
- completed_search_present = @completed_search.present?

.row
  - if current_user && (current_user.admin? || current_user.super_admin?)
    = link_to "Edit", edit_week_path(@week)
.row
  - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
    = link_to "View all weeks", weeks_path, class: 'btn'
.row
  - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader? || current_user.cleaner?)
    - if @week.previous_week.present?
      = link_to "< Previous week", @week.previous_week, class: 'btn', style: 'float: left'
    - if @week.next_week.present?
      = link_to "Next week >", @week.next_week, class: 'btn', style: 'float: right'

%h3 Work lists
- if current_user && (current_user.admin? || current_user.super_admin?)
  = link_to "View all work lists", work_lists_week_path(@week)
.view-work-list-container
  %table.table.table-bordered.work-list-grid
    - short_days_of_week.each_with_index do |day_name, day_index|
      - day = @week.start_date.beginning_of_week + day_index.days
      - if (day <= Date.today+1.days) || current_user.hasRoleInList(['Super_Admin', 'Admin'])
        %tr
          %th{class: day == Date.today && "current-day"}
            = day_name
            = day.strftime("%d").to_i.ordinalize
          - if current_user && current_user.team_leader?
            - WorkListCategory.where(user_id: current_user).each do |wlc|
              - @week.work_lists.where(day: day_index, work_list_category_id: wlc.id).order('work_lists.work_list_category_id ASC').each do |work_list|
                =render partial: "week_per_user", locals: {work_list: work_list}
          - elsif current_user && (current_user.admin? || current_user.super_admin?)
            - @week.work_lists.where(day: day_index).order('work_lists.work_list_category_id ASC').each do |work_list|
              =render partial: "week_per_user", locals: {work_list: work_list}
          - elsif current_user && current_user.cleaner?
            - WorkListWorker.where(user_id: current_user).each do |wlw|
              - @week.work_lists.where(day: day_index, id: wlw.work_list_id).order('work_lists.work_list_category_id ASC').each do |work_list|
                =render partial: "week_per_user", locals: {work_list: work_list}
    %tr
      %th Balance
      - if current_user && (current_user.super_admin? || current_user.admin?)
        - current_business.work_list_categories.each do |work_list_category|
          %td
            = work_list_category.balance.format
      - elsif current_user && current_user.team_leader?
        - WorkListCategory.where(user_id: current_user.id).each do |wlc|
          %td
            = wlc.balance.format


- if current_user && (current_user.admin? || current_user.super_admin?)
  %h2 Jobs (#{@week.jobs.count})
  %div
    = link_to "Pull next week's work to this week", pull_work_week_path(@week), method: :patch, data: {confirm: "Are you sure?"}
    |
    = link_to "Push this week's work to next week", push_work_week_path(@week), method: :patch, data: {confirm: "Are you sure?"}
  %div
    = render 'shared/customer_search'
  %div
    = @jobs.count
    results
  %div
    = will_paginate @jobs
  %table.table.table-bordered.jobs-table.weeks-show-table.table-fixed-header{data: {week_id: @week.id}}
    %thead
      %th &nbsp;
      %th Last clean
      - @index_default_customer_details_names.each do |name|
        %th= name
      %th Price
      %th Day
      %th Worklist
      %th &nbsp;
      - if completed_search_present
        %th &nbsp;

    %tbody
      - @jobs.each do |unlinked_job|
        - [unlinked_job, *unlinked_job.child_jobs.by_linked_job_day.to_a].each do |job|
          - job.customer.tap do |customer|
            %tr.clickable-row{class: customer.current_week_job_html_classes(job_override: job) + (customer.bookmarked?(current_user, @bookmark_customer_ids_cache) ? ' bookmarked' : ''), data: {job_id: job.id, resource: 'customers', id: customer.id}}
              - color_added = false
              %td{style: "background-color: ##{customer.area_color_cache}"}
                %span.icon.icon-bookmark.bookmarkable-bookmark{data: {bookmarkable_id: customer.id, bookmarkable_type: "Customer"}}
              %td.clickable
                - if job.linked? || job.child_jobs_count > 0
                  %strong Day #{job.linked_job_day}
                  %br
                = customer.last_clean_string
              - index_detail_values = customer.index_detail_values_from_cache(@index_default_customer_details_names)
              - @index_default_customer_details_names.count.times do |i|
                %td.clickable{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
                  - color_added = true
                  = index_detail_values[i]
              %td
                = job.price_including_vat.format
              %td
                = select_tag :day, options_for_select([['N/A', -1]] + day_options, job.day), {style: 'width: 80px'}
                = image_tag "ajax-loader.gif", class: "hide ajax-loader"
              %td
                = select_tag :work_list_category_id, options_for_select([['None', nil]] + work_list_category_options, job.work_list_category_id), {style: 'width: 150px'}
                = image_tag "ajax-loader.gif", class: "hide ajax-loader"
              %td
                = link_to "Edit", edit_job_path(job)
              - if completed_search_present
                %td
                  %span.icon.icon-eye-close.remove-customer-from-search-results{data: {customer_id: customer.id}}
  %div
    = will_paginate @jobs
