- @work_lists.each do |work_list|
  %div{class: "work-list " + work_list.html_classes, data: {work_list_id: work_list.id}}
    = work_list.full_name_with_date(@week)
    |
    = link_to "View", work_list
    - unless work_list.completed?
      %span.sign-off-link
        |
        = link_to "Sign off", mark_as_completed_work_list_path(work_list), remote: true
    .work-list-show.pending{data: {work_list_id: work_list.id}}
      = image_tag "ajax-loader.gif"
    %hr

:javascript
  $(function() {
    $.fn.isInViewport = function() {
      var elementTop = $(this).offset().top;
      var elementBottom = elementTop + $(this).outerHeight();

      var viewportTop = $(window).scrollTop();
      var viewportBottom = viewportTop + $(window).height();

      return elementBottom > viewportTop && elementTop < viewportBottom;
    };

    var scrollCookieName = 'work-lists-scroll-id-#{@week.id}';
    var scrollWorkListIdFromCookie = parseInt(Cookies.get(scrollCookieName));
    var workListShowDivs = $('.work-list-show');

    $(document).on('scroll', function() {
      if (!scrollWorkListIdFromCookie) {
        var workLists = $('.work-list');
        //workLists.removeClass('work-list-in-viewport');
        for (var i = workLists.length - 1; i >= 0; --i) {
          if (!$(workLists[i]).isInViewport()) {
            workLists.splice(i, 1);
          }
        }

        var workListToNavigateToIndex = 0;
        var largestAreaOnScreen = 0;
        for (var i = 0; i < workLists.length; ++i) {
          var elementTop = $(workLists[i]).offset().top;
          var elementBottom = elementTop + $(workLists[i]).outerHeight();

          var viewportTop = $(window).scrollTop();
          var viewportBottom = viewportTop + $(window).height();

          var elementTop = viewportTop > elementTop ? viewportTop : elementTop;
          var elementBottom = viewportBottom < elementBottom ? viewportBottom : elementBottom;
          var area = elementBottom - elementTop;

          if (area > largestAreaOnScreen) {
            workListToNavigateToIndex = i;
            largestAreaOnScreen = area;
          }
        }

        var workListToNavigateTo = $(workLists[workListToNavigateToIndex]);
        //workListToNavigateTo.addClass('work-list-in-viewport');
        var workListId = workListToNavigateTo.data('work-list-id');
        Cookies.set(scrollCookieName, workListId, {path: ''});
      }
    });

    var requestWorkListShow = function(index) {
      if (index >= workListShowDivs.length) {
        if (scrollWorkListIdFromCookie) {
          scrollWorkListIdFromCookie = null;
        }
        return;
      }
      var div = $(workListShowDivs.get(index));
      $.ajax({
        url: '/work_lists/' + div.data('work-list-id') + '/get_simple_show'
      }).done(function() {
        div.removeClass('pending');
        if (scrollWorkListIdFromCookie) {
          var workListElement = $('.work-list[data-work-list-id="' + scrollWorkListIdFromCookie + '"]');
          var scrollAmount = workListElement.offset().top;
          $(document).scrollTop(scrollAmount);
          if (workListElement.children('.work-list-show:not(.pending)')[0]) {
            scrollWorkListIdFromCookie = null;
            $(document).scrollTop(scrollAmount);
          }
        }
        initWysihtml5();
        requestWorkListShow(++index);
      });
    };

    requestWorkListShow(0);
  });
