- unless @title.present?
  %h2 Finances
.nav.nav-tabs
  %li{class: controller_name == "finances" && action_name == "index" && "active"}
    = link_to "Overview", finances_path
  %li{class: controller_name == "finances" && (action_name == "weeks" || action_name == "show") && "active"}
    = link_to "Weeks", weeks_finances_path
  %li{class: controller_name == "targets" && "active"}
    = link_to "Targets", targets_path
  %li{class: controller_name == "expenses" && "active"}
    = link_to "Expenses", expenses_path
