- hide_edge_columns ||= false
%tr
  %th{width: 150}
    - if hide_edge_columns
      &nbsp;
    - else
      Week starting
  %th Jobs
  %th Total value
  %th Value of completed
  %th Value of completed and paid
  %th Amount outstanding of completed
  %th Amount paid this week
  %th
    - if hide_edge_columns
      &nbsp;
    - else
      Amount paid - Value of completed