- default_vat_rate = current_business.default_vat_rate
- payment_methods_options = Payment::PAYMENT_METHODS.map { |pm| [pm.titleize, pm] } + [['None', nil]]
%table.table.table-bordered.finance-unpaid-jobs
  %thead
    %th &nbsp;
    %th Invoice No.
    - @index_default_customer_details_names.each do |name|
      %th= name
    %th Job price inc VAT
    %th Total outstanding
    %th &nbsp;
  %tbody
    = jobs.find_each do |job|
      - job.customer.tap do |customer|
        %tr.clickable-row{id: "job-#{job.id}", data: {job_id: job.id, resource: 'customers', id: customer.id}}
          - color_added = false
          %td.clickable{style: "background-color: ##{customer.area_color_cache}"}
            &nbsp;
          %td.clickable
            = job.invoice_number
          - index_detail_values = customer.index_detail_values_from_cache(@index_default_customer_details_names)
          - @index_default_customer_details_names.count.times do |i|
            %td.clickable{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
              - color_added = true
              = index_detail_values[i]
          %td.clickable
            = job.price_including_vat.format
          %td.clickable.customer-outstanding-money{class: customer.owing? && 'owing'}
            = customer.outstanding_money.format
          %td.job-paid
            - if job.paid?
              = job.total_payment_amount.format
              \-
              = job.total_payment_method.titleize
            - else
              = link_to "Mark as paid", new_customer_payment_path(job.customer, job_id: job.id, redirect_to_finances: (@week || job.week).id), class: "btn btn-small"
              -# = link_to "Mark as paid", '#', class: "mark-as-paid btn btn-small"
              -# .modal.job-paid-form.hide
              -#   .modal-body
              -#     = form_for job, url: mark_as_paid_job_path(job), method: :put, remote: true do |f|
              -#       %div
              -#         = label_tag 'job[payment_method]', 'Payment method'
              -#         = select_tag 'job[payment_method]', options_for_select(payment_methods_options)
              -#       %div
              -#         = label_tag 'job[payment_amount]', "Amount paid"
              -#         = text_field_tag 'job[payment_amount]', customer.outstanding_money
              -#       %div
              -#         = f.label :invoice_number
              -#         = f.text_field :invoice_number
              -#       %br
              -#       = f.submit "Mark as paid", class: 'btn btn-small'
              -#       = image_tag "ajax-loader.gif", class: "hide ajax-loader"
