= render 'finances/header'

#date-range-select
  = form_tag finances_path, method: :get do
    = label_tag :from_date
    = date_field_tag :from_date, params[:from_date]
    = label_tag :to_date
    = date_field_tag :to_date, params[:to_date]
    = submit_tag 'Go', class: 'btn'

%table.table.table-bordered.table-vertical
  %tbody
    %tr
      %th Income
      %td= Money.new(@total_paid_cents, 'GBP').format
    %tr
      %th Expenses
      %td= Money.new(@total_expenses_cents, 'GBP').format
    %tr
      %th Profit
      %td= Money.new(@total_paid_cents - @total_expenses_cents, 'GBP').format

#download-report-link{class: current_user.has_finances_export_pending? ? 'hide' : ''}
  #download-report-xlsx-link
    - if current_user.completed_finance_export.present?
      = link_to current_user.completed_finance_export.xlsx_file.url do
        Download XLSX file (generated #{current_user.completed_finance_export.export_finished_at.strftime("%d %b %Y %H:%M")})
  = link_to "Generate report", '#export-finances-modal', data: {toggle: 'modal'}, class: 'btn'
#download-report-pending{class: current_user.has_finances_export_pending? ? '' : 'hide'}
  = image_tag "ajax-loader.gif"
#export-finances-modal.modal.hide{style: 'width: 600px; margin-left: -300px'}
  .modal-body
    = form_tag export_finances_path, method: :post do
      %div
        = label_tag :export_from_date
        = date_field_tag "export[from_date]", params[:from_date]
        = label_tag :export_to_date
        = date_field_tag "export[to_date]", params[:to_date]
      %div
        %strong Payment customer fields to export
        - current_business.customer_detail_categories.each_slice(3) do |category_slice|
          .row
            - category_slice.each do |category|
              .span2
                %strong= category.name
                - category.default_customer_details.each do |detail|
                  = label_tag "export[customer_details][#{detail.name}]", class: 'checkbox' do
                    = detail.name
                    = check_box_tag "export[customer_details][#{detail.name}]"
      %div
        = submit_tag 'Generate', class: 'btn'

:javascript
  $(function() {
    $('#date-range-select form input').on('change', function() {
      var dateRangeForm = $('#date-range-select form');
      var exportForm = $('#export-finances-modal form');
      exportForm.find('#export_from_date').val(dateRangeForm.find('#from_date').val());
      exportForm.find('#export_to_date').val(dateRangeForm.find('#to_date').val());
    });

    if ($('#download-report-pending').is(':visible')) {
      var checkExportStatus = function() {
        $.ajax({
          url: '/finances/get_export_status',
          dataType: 'JSON'
        }).done(function(data) {
          if (data.status == 'complete') {
            $('#download-report-pending').hide();
            $('#download-report-link').show();
            $('#download-report-xlsx-link').html('<a href="' + data.url + '">Download XLSX file</a>');
          } else if (data.status == 'none') {
            $('#download-report-pending').hide();
            $('#download-report-link').show();
          } else {
            setTimeout(checkExportStatus, 1000);
          }
        });
      };
      checkExportStatus();
    }
  });
