= render 'finances/header'

= link_to "View week", @week, class: 'btn'

- assigned_jobs_count = 0
%table.table.table-bordered
  %thead
    %tr
      %th Day
      %th Jobs
      %th Total value
      %th Value of completed
      %th Value of completed and paid
      %th Amount outstanding of completed
      %th Amount paid
      %th Amount paid - Value of completed
  %tbody
    - short_days_of_week.each_with_index do |day, day_index|
      - work_lists = @week.work_lists.select { |wl| wl.day == day_index }
      - jobs_count = work_lists.inject(0) { |total, work_list| total + work_list.job_counter_cache }
      - assigned_jobs_count += jobs_count
      %tr
        %td= day
        %td= jobs_count
        %td= @week.value_for_day(day_index).format
        %td= @week.completed_value_for_day(day_index).format
        %td= @week.paid_value_for_day(day_index).format
        %td= @week.outstanding_value_for_day(day_index).format
        %td= (amount_paid = current_business.amount_paid_on_date(@week.start_date + day_index.days)).format
        %td= (amount_paid - @week.completed_value_for_day(day_index)).format

- if assigned_jobs_count < @week.jobs.count
  %h4
    Unassigned jobs: #{@week.jobs.count - assigned_jobs_count}

- if @week.jobs.completed.not_paid.count > 0
  %h4 Unpaid jobs
  = render 'finances/jobs_table', jobs: @week.jobs.unlinked.completed.not_paid.includes(:payments, :customer)
