= render 'finances/header'

= form_tag weeks_finances_path, method: :get do
  = label_tag :invoice_number, 'Search by invoice number'
  = text_field_tag :invoice_number, params[:invoice_number]
  = submit_tag 'Search', class: 'btn'
- if @jobs
  - if @jobs.count.zero?
    No jobs found for invoice number
  - else
    = render 'finances/jobs_table', jobs: @jobs

%hr

= form_tag weeks_finances_path, method: :get do
  = label_tag :from_week
  = date_field_tag :from_week, params[:from_week]
  = label_tag :to_week
  = date_field_tag :to_week, params[:to_week]
  = submit_tag 'Go', class: 'btn'

%table#finances-weeks.table.table-bordered.table-fixed-header
  %thead
    %tr
      %th{width: 150} Week starting
      %th Jobs
      %th Total value
      %th Value of completed
      %th Value of completed and paid
      %th Amount outstanding of completed
      %th Amount paid this week
      %th Amount paid - Value of completed
  %tbody
    - jobs_total = 0
    - value_total = Money.new(0, 'GBP')
    - completed_value_total = Money.new(0, 'GBP')
    - paid_value_total = Money.new(0, 'GBP')
    - outstanding_value_total = Money.new(0, 'GBP')
    - amount_paid_total = Money.new(0, 'GBP')
    - amount_paid_minus_completed_value = Money.new(0, 'GBP')
    - @weeks.each do |week|
      %tr.clickable-row{class: week == current_business.current_week && "current-week", data: {resource: 'finances', id: week.id}}
        %td.clickable= week.start_date.to_s(:long)
        %td.clickable= week.jobs_count.tap { |count| jobs_total += count }
        %td.clickable= week.value.tap { |value| value_total += value }.format
        %td.clickable= week.completed_value.tap { |value| completed_value_total += value }.format
        %td.clickable= week.paid_value.tap { |value| paid_value_total += value }.format
        %td.clickable= week.outstanding_value.tap { |value| outstanding_value_total += value }.format
        %td.clickable= week.amount_paid.tap { |value| amount_paid_total += value }.format
        %td.clickable= (week.amount_paid - week.completed_value).tap { |value| amount_paid_minus_completed_value += value }.format
    %tr
      %td{colspan: 8} &nbsp;
    %tr
      %th{width: 150} &nbsp;
      %th Jobs
      %th Total value
      %th Value of completed
      %th Value of completed and paid
      %th Amount outstanding of completed
      %th Amount paid
      %th Amount paid - Value of completed
    %tr
      %td &nbsp;
      %td= jobs_total
      %td= value_total.format
      %td= completed_value_total.format
      %td= paid_value_total.format
      %td= outstanding_value_total.format
      %td= amount_paid_total.format
      %td= amount_paid_minus_completed_value.format
    - weeks_count = @weeks.count
    %tr
      %th{colspan: 8} Averages (over #{weeks_count} weeks)
    %tr
      %td &nbsp;
      %td= jobs_total / weeks_count
      %td= (value_total / weeks_count).format
      %td= (completed_value_total / weeks_count).format
      %td= (paid_value_total / weeks_count).format
      %td= (outstanding_value_total / weeks_count).format
      %td= (amount_paid_total / weeks_count).format
      %td= (amount_paid_minus_completed_value / weeks_count).format
