%table#work-list-notes.table.table-bordered
  %thead
    %tr
      %td Note
      %td By
      %th &nbsp;
  %tbody
    = render partial: 'work_list_notes/work_list_note', collection: @work_list.work_list_notes, as: :work_list_note
