%tr{data: {id: work_list_note.id}}
  %td= work_list_note.content.html_safe
  %td= work_list_note.user.try(:name) || 'None'
  %td
    - if business_signed_in?
      = link_to "Delete", work_list_work_list_note_path(@work_list, work_list_note, t1: @work_list.token_1, t2: @work_list.token_2), method: :delete, data: {confirm: "Are you sure?", remote: true}
      
