<% if @success %>
  $('form#new_work_list_note .work-list-note-errors').slideUp();
  $('table#work-list-notes, .no-work-list-notes').replaceWith('<%= j render "work_list_notes/table" %>');
  $('form#new_work_list_note #work_list_note_content').data("wysihtml5-editor").clear();
<% else %>
  $('form#new_work_list_note .work-list-note-errors').slideUp(function() {
    $(this).html('<%= j render "shared/form_errors", resource: @work_list_note %>');
    $(this).slideDown();
  });
<% end %>
