= render 'finances/header'

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Default tag
      %th Target
      %th Balance
  %tbody
    - @work_list_categories.each do |work_list_category|
      %tr.clickable-row{data: {resource: 'targets', id: work_list_category.id}}
        %td.clickable
          = work_list_category.name
        %td.clickable
          = work_list_category.tag
        %td.clickable
          = work_list_category.target.format
        %td
          = work_list_category.balance.format
          = link_to '#', class: 'edit-work-list-category-balance-date-from' do
            %span.icon.icon-calendar
          = form_for work_list_category, url: update_balance_date_from_work_list_category_path(work_list_category), html: {class: 'work-list-category-form hide'} do |f|
            %span.input-append
              = f.date_field :balance_date_from
              = button_tag class: 'btn', type: 'submit' do
                %span.icon.icon-ok

:javascript
  $(function() {
    $('a.edit-work-list-category-balance-date-from').on('click', function(e) {
      e.preventDefault();
      $(this).hide();
      $(this).siblings('form.work-list-category-form').attr('style', 'display:inline').show();
    });

    $('button[type="submit"]').on('click', function(e) {
      e.preventDefault();
      $(this).parents('form').submit();
    });
  });
