= render 'finances/header'

= form_tag target_path(params[:id]), method: :get do
  = label_tag :from_date
  = date_field_tag :from_date, params[:from_date]
  = label_tag :to_date
  = date_field_tag :to_date, params[:to_date]
  = submit_tag 'Go', class: 'btn'

- if @work_list_category.balance_date_from?
  - if params[:from_date].nil?
    Taken from #{@work_list_category.balance_date_from.to_s(:long)}.
    = link_to "View entire history", target_path(@work_list_category, from_date: '')
  - else
    Taken from entire history.
    = link_to "View from #{@work_list_category.balance_date_from.to_s(:long)}", target_path(@work_list_category)
%table.table.table-bordered
  %thead
    %tr
      %th &nbsp;
      - short_days_of_week.each do |day|
        %th= day
      %th Balance
  %tbody
    - total_balance = Money.new(0, 'GBP')
    = @work_lists.each_slice(7) do |slice|
      - beginning_of_week = slice.map { |wl| wl.try(:date_cache) }.compact.first.try(:beginning_of_week)
      - is_current_week = Date.today.beginning_of_week == beginning_of_week
      - is_future_week = Date.today.beginning_of_week < beginning_of_week
      - day_of_week = (Date.today.wday - 1).instance_exec { self < 0 ? 6 : self }
      %tr
        %td= beginning_of_week.try(:to_s, :long)
        - balance = Money.new(0, 'GBP')
        - slice.reverse.each do |work_list|
          - if work_list.nil?
            %td &nbsp;
          - else
            %td{class: work_list.target_met_html_classes}
              - if work_list.apply_target?
                = work_list.target_delta.tap { |td| balance += td unless is_future_week || (is_current_week && work_list.day > day_of_week) }.format
              - else
                £0.00
              = link_to work_list do
                %span.icon-search.target-inspect-icon
        - if slice.length < 7
          - (7 - slice.length).times do
            %td &nbsp;
        %td{class: balance.cents >= 0 ? "target-met" : "target-not-met"}
          %strong= balance.format
        - total_balance += balance
    %tr
      %td{colspan: 8}
      %td{class: total_balance.cents >= 0 ? "target-met" : "target-not-met"}
        %strong= total_balance.format
