= form_for [@customer, @risks_assessment] do |f|
  = render 'shared/form_errors', resource: @risks_assessment
  .row-fluid
    .span6
      %h5
        Can the windows be cleaned by a secure ladder?
    .span2
      = f.label :yes
      = f.check_box :yes, class:"form-check form-check-inline"
    .span2
      = f.label :no
      = f.check_box :no, class:"form-check form-check-inline"
    .span2
      = f.label :not_all
      = f.check_box :not_all, class:"form-check form-check-inline"
  %br
  %br

  .row-fluid
    .span3
      %p
        %h4 If NOT, Why:

    .span3
      = f.label :too_high
      = f.check_box :too_high
    .span3
      = f.label :ground_not_safe
      = f.check_box :ground_not_safe
    .span3
      = f.label :no_clear_access_to_window
      = f.check_box :no_clear_access_to_window
  %br
  %br
  .row-fluid
    .span3
      %p
        %h4 Choose preferred option:
    .span3
      = f.label :work_from_inside
      = f.check_box :work_from_inside
    .span3
      = f.label :footed_ladder
      = f.check_box :footed_ladder
    .span3
      = f.label :Work_positioning_system
      = f.check_box :work_positioning_system
  %br
  %br
  .row-fluid
    .span3
    .span3
      = f.label :secured_ladder
      = f.check_box :secured_ladder
    .span3
      = f.label :read_and_wash
      = f.check_box :read_and_wash
    .span3
      .form-group
        = f.label :other
        = f.text_field :other, class: "control-group"
  .row-fluid
    .span3
    .span3
      .form-group
        = f.label :why
        = f.text_area :why, :rows=>"3"
        = f.hidden_field :worklist_id, value: @work_list
  = f.submit "Submit", class: "btn"
  = link_to 'Back', customer_path(@customer), class:"btn"
