-if @customer_with_risk_assessment == nil
  .alert.alert-info
    There are not Risk Assessments for this job yet.
-else
  .row-fluid
    .alert.alert-info
      %h3.text-center Risk Assessments of: #{@customer_with_risk_assessment.customer.customer_details_cache["Address Line"]}
    .p.text-center Please select and press Accept button if you are agree with it.

    .span4
    .span6
      %br
      %br
        - @risks_assessments.order(date: :desc).each do |risks_assessment|
          -if risks_assessment == @risks_assessments.last
            %b
              %p
                %b By
                %td= link_to risks_assessment.operative, customer_risks_assessment_path(@customer, risks_assessment, :workList => @work_list)
                %td= risks_assessment.created_at.strftime("%d %b %Y %k:%M")
                - if current_user && current_user.super_admin? || (risks_assessment.operative == current_user.name && risks_assessment.created_at >= Time.now - 60.minutes)
                  = link_to 'Delete', customer_risks_assessment_path(@customer,risks_assessment.id),method: "delete", class: "btn", data: { confirm: "Are your sure?"}
                  Last one.
          -else
            %p
              %b By
              %td= link_to risks_assessment.operative, customer_risks_assessment_path(@customer, risks_assessment, :workList => @work_list)
              %td= risks_assessment.created_at.strftime("%d %b %Y %k:%M")
              - if current_user && current_user.super_admin? || (risks_assessment.operative == current_user.name && risks_assessment.created_at >= Time.now - 60.minutes)
                = link_to 'Delete', customer_risks_assessment_path(@customer,risks_assessment.id),method: "delete", class: "btn", data: { confirm: "Are your sure?"}

= link_to 'New Risk assessment', new_customer_risks_assessment_path(@customer, :workList => @work_list), class: 'btn'
