.alert.alert-info
  %h3.text-center Risk Assessment of: #{@risks_assessment.customer.customer_details_cache["Address Line"]}
%br
%br
-if @risks_assessment.user_in(current_user.id).empty?
  .alert.alert-warning
    %h4.text-left #{current_user.name} click in Accept button if you are happy with this Risk Assessment
    = link_to "Accept", check_risks_assessment_customer_risks_assessment_path(@risks_assessment.customer.id, @risks_assessment, :workList => @work_list), class: "btn btn-small", method: 'put'
-else
  -if !@risks_assessment.already_have?(current_user.id)
    .alert.alert-info
      %h6.text-left #{current_user.name} click in Accept to use this Risk Assessment again
    = link_to "Accept", check_risks_assessment_customer_risks_assessment_path(@risks_assessment.customer.id, @risks_assessment, :workList => @work_list), class: "btn btn-small", method: 'put'
  .alert.alert-success.mt-2
    %h4.text-center #{current_user.name} Already checked this assessment on
    -@risks_assessment.time_checked(current_user.id).each do |t|
      .text-center
        #{t.created_at.strftime("%d %b %Y %k:%M")} /
- if current_user && current_user.admin? || current_user && current_user.super_admin?
  %h4 Who have checked this Risks Assessment?
  -@risks_assessment.who_checked.each do |user|
    =user.name+ " on"
    -@risks_assessment.time_checked(user.id).each do |t|
      = t.created_at.strftime("%d %b %Y %k:%M")+" / "
    %br

.row-fluid
  .span6
    %h5
      Can the windows be cleaned by secure ladder?
  .span2
    %p
      Yes:
      -if @risks_assessment.yes
        %span.label.label-inverse ✓
  .span2
    %p
      No:
      -if @risks_assessment.no
        %span.label.label-inverse ✓
  .span2
    %p
      Not All:
      -if @risks_assessment.not_all
        %span.label.label-inverse ✓
%br
%br

.row-fluid
  .span3
    %p
      %h4 If NOT, Why:

  .span3
    %p
      Too High:
      -if @risks_assessment.too_high
        %span.label.label-inverse ✓
  .span3
    %p
      Ground Not Safe:
      -if @risks_assessment.ground_not_safe
        %span.label.label-inverse ✓
  .span3
    %p
      No Clear Access to Window:
      -if @risks_assessment.no_clear_access_to_window
        %span.label.label-inverse ✓

%br
%br
.row-fluid
  .span3
    %p
      %h4 Choose preferred option:
  .span3
    %p
      Work From Inside:
      -if @risks_assessment.work_from_inside
        %span.label.label-inverse ✓

  .span3
    %p
      Footed Ladder:
      -if @risks_assessment.footed_ladder
        %span.label.label-inverse ✓
  .span3
    %p
      Work Positioning System:
      -if @risks_assessment.work_positioning_system
        %span.label.label-inverse ✓
%br
%br
.row-fluid
  .span3
  .span3
    %p
      Secured Ladder:
      -if @risks_assessment.secured_ladder
        %span.label.label-inverse ✓
  .span3
    %p
      Reach & Wash
      -if @risks_assessment.read_and_wash
        %span.label.label-inverse ✓
  .span3
    %p
      Other:
      %h5= @risks_assessment.other
%br
%br
.row-fluid
  .span3
  .span3
    %p
      Why?:
      %table#work-list-notes.table.table-bordered
        %thead
          %tr
            %td
              = simple_format(@risks_assessment.why)

    %br
.row-fluid
  .span4
    %p
      %strong Operative:
      = @risks_assessment.operative
    %p
      %strong Date:
      = @risks_assessment.created_at.strftime("%d %b %Y %I:%M%p")
    - if current_user && current_user.super_admin? || (@risks_assessment.operative == current_user.name)
      = link_to 'Edit', edit_customer_risks_assessment_path(@risks_assessment.customer, @risks_assessment), class:"btn"
    -# -if @risks_assessment.worklist_id
    -# = link_to 'Back to work list', work_list_path(@risks_assessment.customer.jobs.last.work_list_id), class:"btn"
    = link_to 'Back to work list', work_list_path(@work_list), class:"btn"
