- is_customer_note = customer_note.is_a? CustomerNote
- is_other_property = customer_note.property_identifier.present?
%tr{class: (is_customer_note ? "" : "job-note") + (is_other_property ? " other-property" : ""),data: {id: customer_note.id}}
  %td{style: "background-color:##{customer_note.property_hex_color}"} &nbsp;
  %td
    - if is_other_property
      %strong= customer_note.property_identifier
      %br
    = customer_note.content.html_safe
  %td= customer_note.date.strftime("%d %b %Y %H:%M")
  %td= customer_note.user.try(:name) || 'None'
  - if business_signed_in?
    %td
      - if is_other_property
        = link_to "View property", is_customer_note ? customer_note.customer : customer_note.job.customer
      - elsif is_customer_note
        - if current_user && current_user.super_admin? || (customer_note.user_id == current_user.id && customer_note.created_at >= Time.now - 60.minutes)
          = link_to "Delete", [@customer, customer_note], method: :delete, data: {confirm: "Are you sure?", remote: true}
        -# if current_user && current_user.super_admin? || current_user && Job.find(@customer).created_at  + 60.minutes >= Time.now

      - else
        &nbsp;
