- if @customer.properties.count > 0
  = link_to "Hide notes for other properties", '#', class: 'other-properties-notes-toggle hide-toggle'
  = link_to "Show notes for other properties", '#', class: 'other-properties-notes-toggle show-toggle hide'
.scrollable-container#customer-notes-scrollable-container{data: {max_height: 700}}
  %table#customer-notes.table.table-bordered
    %thead
      %th &nbsp;
      %th Note
      %th Date
      %th By
      - if business_signed_in?
        %th &nbsp;
    %tbody
      = render partial: 'customer_notes/customer_note', collection: @customer.notes, as: :customer_note

:javascript
  $(function() {
    var scrollTableToBottom = function() {
      $("#customer-notes-scrollable-container").scrollTop($("#customer-notes-scrollable-container")[0].scrollHeight);
    };

    $('a.other-properties-notes-toggle').on('click', function(e) {
      e.preventDefault();

      $('a.other-properties-notes-toggle').show();
      $(this).hide();

      if ($(this).hasClass('show-toggle')) {
        $('table#customer-notes tr.other-property').show();
      } else {
        $('table#customer-notes tr.other-property').hide();
      }

      scrollTableToBottom();
    });

    scrollTableToBottom();
  });
