<% if @success %>
  $('form#new_customer_note .customer-note-errors').slideUp();
  $('table#customer-notes, .no-customer-notes').replaceWith('<%= j render "customer_notes/table" %>');
  $('form#new_customer_note textarea[name="customer_note[content]"]').data("wysihtml5-editor").clear();
<% else %>
  $('form#new_customer_note .customer-note-errors').slideUp(function() {
    $(this).html('<%= j render "shared/form_errors", resource: @customer_note %>');
    $(this).slideDown();
  });
<% end %>
