= form_for @job do |f|
  = hidden_field_tag :redirect_to_edit_payment_id
  = render 'shared/form_errors', resource: @job
  %div
    = f.label :customer_id, 'Customer'

    %table#customers-index.table.table-bordered
      %thead
        %th &nbsp;
        - @index_default_customer_details_names.each do |name|
          %th= name
        %th Regular price
      %tbody
        - @job.customer.tap do |customer|
          - color_added = false
          %tr.clickable-row{data: {resource: 'customers', id: customer.id}}
            %td{style: "background-color: ##{customer.area.color}"}
              &nbsp;
            - index_details = customer.index_details(true, @index_default_customer_details_names)
            - @index_default_customer_details_names.each_with_index do |name, i|
              %td.clickable{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
                - color_added = true
                - if params[:sort_by] == name && params[:use_trimmed_value] == '1'
                  = index_details.find { |detail| detail.name == name }.try(:trimmed_value)
                - else
                  = index_details.find { |detail| detail.name == name }.try(:value)
            %td.clickable= customer.regular_price.format

    - if @job.new_record?
      = f.hidden_field :customer_id
  - day_one_job = @job.linked_job || (@job.child_jobs_count > 0 ? @job : nil)
  - if day_one_job.present?
    %ul
      %li
        - if day_one_job == @job
          %strong Viewing day 1
        - else
          = link_to "View day 1", edit_job_path(day_one_job)
      - day_one_job.child_jobs.by_linked_job_day.each do |job|
        %li
          - if job == @job
            %strong Viewing day #{job.linked_job_day}
          - else
            = link_to "View day #{job.linked_job_day}", edit_job_path(job)
  %div
    = f.label :date
    = f.date_field :date
  %div
    = label_tag "Or week"
    = week_field_tag :week_starting, @job.date.blank? && @job.week.present? ? @job.week.start_date.strftime("%Y-W%V") : nil
    %hr
  %div
    = f.label :start_time, "Arrive from"
    = f.time_field :start_time
  %div
    = f.label :finish_time, "Arrive until"
    = f.time_field :finish_time
  %div
    = f.label :work_list_category_id, "Work list"
    = f.select :work_list_category_id, work_list_categories_for_select
  - unless @job.linked?
    %div
      = f.label :price
      = f.text_field :price
    %div
      = f.label :vat_rate, "VAT rate"
      = f.text_field :vat_rate
  %div
    = f.label :completed_at
    = f.date_field :completed_at
  / - unless @job.linked?
  /   %div
  /     = f.label :invoice_number
  /     = f.text_field :invoice_number
  /   %div
  /     = f.label :paid_at
  /     = f.date_field :paid_at, 'value' => @job.payment.try(:date) || @job.paid_at
  /   %div
  /     = f.label :payment_amount
  /     = f.text_field :payment_amount, value: @job.payment.try(:amount)
  /   %div
  /     = f.label :payment_method
  /     = f.select :payment_method, Payment::PAYMENT_METHODS.map { |pm| [pm.titleize, pm] }, include_blank: 'None', selected: @job.payment.try(:method)
  /   %div
  /     = label_tag :credit_to_customer, class: 'checkbox' do
  /       = check_box_tag :credit_to_customer, '1', @job.payment.try(:credit) || params[:credit_to_customer]
  /       Credit to customer?
  = yield :extra_fields
  %div
    = f.submit "Save and view work list", class: 'btn'
    &nbsp;
    &nbsp;
    = f.submit "Save and view customer", class: 'btn'
    &nbsp;
    &nbsp;
    = f.submit "Save and view week", class: 'btn'
