%h3 Notes
- if job.job_notes.length.zero?
  %span.no-job-notes{data: {job_id: job.id}} No notes to show
- else
  = render 'job_notes/table', job: job
= form_for [job, JobNote.new], remote: true, html: {data: {job_id: job.id}} do |f|
  - if @work_list
    = hidden_field_tag :t1, @work_list.token_1
    = hidden_field_tag :t2, @work_list.token_2
  .customer-note-errors.hide
  = f.label :content, "Add note"
  = f.text_area :content, size: "30x8"
  = f.submit "Submit", class: 'btn'
