%h3 Payments

%table.table.table-bordered.payments-table
  %thead
    %th Date
    %th Payment method
    %th Amount
    %th Payment charge
    %th Credit to customer?
    %th &nbsp;
  %tbody
    - job.payments.each do |payment|
      = render 'jobs/payments_form_tr', payment: payment, job: job

= render 'payments/form', customer: job.customer, payment: job.customer.payments.build, remote: true

:javascript
  $(function() {
    $('.payments-table a.edit-payment-link').on('click', function(e) {
      e.preventDefault();
      var form = $('form#edit_job_#{job.id}');
      form.find('input:hidden[name="redirect_to_edit_payment_id"]').val($(this).data('payment-id'));
      form.submit();
    });

    $('form.new_payment input[name="redirect_to_edit_job_id"]').val(#{job.id});
  });
