%tr{data: {payment_id: payment.id}}
  %td= payment.date.to_s(:long)
  %td= payment.formatted_method
  %td
    - if payment.job_payment(job).cents == payment.cents
      = payment.amount.format
    - else
      = payment.job_payment(job).amount.format
      (full amount: #{payment.amount.format})
  %td= payment.charge.format
  %td
    - if payment.credit?
      = image_tag('tick.png')
  %td
    = link_to "Edit", '#', class: 'edit-payment-link', data: {payment_id: payment.id}
