.row
  .span6
    - if @job.work_list.blank?
      Job not assigned to work list
  .span6
    = link_to "Delete job", @job, method: :delete, data: {confirm: "Are you sure?"}
  .span12
    %hr
.row
  .span6
    = render 'form'
  .span6
    = render 'notes_form', job: @job
    = render 'payments_form', job: @job
