(function() {
<% if @job.completed? %>
  var tr = $('tr#job-<%= @job.id %>');
  tr.find('td.job-completed').html('<%= j image_tag "tick.png" %><%= j link_to "Undo", unmark_as_completed_job_path(@job, @job.work_list.url_token_params), class: "btn btn-small", remote: true %>');
  tr.find('.customer-outstanding-money').html('<%= @job.customer.outstanding_money %>');
<% end %>
})();
