(function() {
<% if @job.paid? %>
  var tr = $('tr#job-<%= @job.id %>');
  var cell = tr.find('td.job-paid');
  cell.find('.modal')
      .modal('hide');
  cell.html('<%= @job.total_payment_amount.format %> - <%= (@job.total_payment_method.present? ? @job.total_payment_method : "None").titleize %>');
  tr.find('.customer-outstanding-money').html('<%= j @job.customer.outstanding_money.format %>');
<% end %>
})();
