.row
  = form_for @job, url: quick_create_job_path do |f|
    .span6
      %div
        %h4 Clean details
        = fields_for @customer do |cf|
          = render 'customers/clean_details_fields', f: cf
          %hr
          - @customer.customer_details.each do |customer_detail|
            %div
              - customer_detail_name = customer_detail.name.underscore.gsub(' ', '_')
              = label_tag "customer_#{customer_detail_name}", customer_detail_name.titleize
              - if customer_detail.default_customer_detail.large_field?
                = text_area_tag "customer_#{customer_detail_name}", params[:customer_details_data].try(:[], customer_detail_name), name: "customer_details_data[#{customer_detail_name}][value]"
              - else
                = text_field_tag "customer_#{customer_detail_name}", params[:customer_details_data].try(:[], customer_detail_name), name: "customer_details_data[#{customer_detail_name}][value]"
              = hidden_field_tag 'customer_details_data_#{customer_detail_name}_name', customer_detail.name, name: "customer_details_data[#{customer_detail_name}][name]"
              = hidden_field_tag 'customer_details_data_#{customer_detail_name}_group_index', customer_detail.group_index, name: "customer_details_data[#{customer_detail_name}][group_index]"

    .span6
      = render 'shared/form_errors', resource: @job
      %div
        = f.label :date
        = f.date_field :date
      %div
        = f.label :start_time, "Arrive from"
        = f.time_field :start_time
      %div
        = f.label :finish_time, "Arrive until"
        = f.time_field :finish_time
      %div
        = f.label :work_list_category_id, "Work list"
        = f.select :work_list_category_id, work_list_categories_for_select
      %div
        = f.label :price
        = f.text_field :price
      %div
        = f.label :vat_rate, "VAT rate"
        = f.text_field :vat_rate
      %div
        = f.label :invoice_number
        = f.text_field :invoice_number
      %div
        = f.submit class: 'btn'
