(function() {
  var row = $('table tr#job-<%= @job.id %>');
  var form = row.find('.job-notes form');
  form.find('.ajax-loader')
      .hide();
  form.find('input:submit')
      .show();
  form.parents('.modal')
      .modal('hide');

  var notesRow = $('table tr#job-<%= @job.id %>-notes');
  if (!notesRow[0]) {
    row.after('<tr id="job-<%= @job.id %>-notes"><td>&nbsp;</td><td class="notes" colspan="<%= (business_signed_in? ? 10 : 9) + @index_default_customer_details_names.count - 1%>"></td></tr>');
    notesRow = $('table tr#job-<%= @job.id %>-notes');
    if (row.hasClass('odd')) {
      notesRow.addClass('odd');
    }
  }

  <% if @job.notes.present? %>
    notesRow.find('td.notes')
            .html('<%= j @job.notes.html_safe %>');
    row.find('a.edit-notes')
        .text('Edit notes');
  <% else %>
    notesRow.remove();
    row.find('a.edit-notes')
        .text('Add notes');
  <% end %>
})();