= form_for @user do |f|
  = render 'shared/form_errors', resource: @user
  %div
    = f.label :name
    = f.text_field :name
  - if current_user && current_user.admin? || current_user && current_user.super_admin?
    %div
      = f.label :role
      = f.select :role, user_roles_for_select

  %div#edit-password-link-container
    = link_to "Edit password", '#'
  %div#password-fields
    %div
      = f.label :password
      = f.password_field :password
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  %div
    = f.submit "Submit", class: "btn"

- if @user.new_record?
  :javascript
    $(function() {
      $('form #edit-password-link-container').remove();
    });
- else
  :javascript
    $(function() {
      $('form #password-fields').hide();
      $('form #edit-password-link-container a').on('click', function() {
        $('form #edit-password-link-container').hide();
        $('form #password-fields').show();
      });
    });
