- if current_user && current_user.admin? || current_user && current_user.super_admin?
  %div
    = link_to "New user", new_user_path

- if @users.count.zero?
  No users to show
- else
  %table.table.table-bordered
    %thead
      %tr
        %th Name
        - if current_user && current_user.admin? || current_user && current_user.super_admin?
          %th &nbsp;
    %tbody
      - @users.each do |user|
        %tr
          - if current_user && current_user.super_admin?
            %td= user.name
            %td
              = link_to "Edit", edit_user_path(user)
              = link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"}
          -elsif current_user && current_user.admin?
            - unless user.role == "Super_Admin"
              %td= user.name
              %td
                = link_to "Edit", edit_user_path(user)
                = link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"}
