= form_for @user, url: sign_in_users_path do |f|
  - if @failed_sign_in
    .alert.alert-error
      Invalid name/password combination
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.submit "Sign in", class: "btn"
