- in_weeks_view ||= false
= form_tag url_for, method: :get, class: "customer-sort-form" do
  = hidden_field_tag :reset
  %div
    .customer-sort-field
      = label_tag :sort_by
      = select_tag :sort_by, options_for_select(customer_sort_fields_for_select, params[:sort_by])
    .customer-sort-field
      = label_tag :order
      = select_tag :order, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']], params[:order])
    .customer-sort-field
      = label_tag :blank_value_order, "Blank values come"
      = select_tag :blank_value_order, options_for_select([['Last', 'last'], ['First', 'first']], params[:blank_value_order])
    .customer-sort-field
      = label_tag :area_id, "Area"
      = select_tag :area_id, options_for_select(customer_area_fields_for_select, params[:area_id]), :prompt => "Any"
  %div
    .customer-sort-field
      = label_tag :search_term
      = text_field_tag :search_term, params[:search_term]
    .customer-sort-field
      = label_tag :search_sort_by, "Only search 'Sort by' field?"
      = check_box_tag :search_sort_by, '1', params[:search_sort_by] == '1'
    .customer-sort-field
      = label_tag :use_trimmed_value, "Exclude beginning numbers?"
      = check_box_tag :use_trimmed_value, '1', params[:use_trimmed_value] == '1'
    .customer-sort-field
      = label_tag :group_by_area, "Group by area?"
      = check_box_tag :group_by_area, '1', params[:group_by_area] == '1'
    .customer-sort-field
      = label_tag :weak_group_by_area, "Group by sort by?"
      = check_box_tag :weak_group_by_area, '1', params[:weak_group_by_area] == '1'
    .customer-sort-field
      = label_tag :show_bookmarked, "Show bookmarked?"
      = check_box_tag :show_bookmarked, '1', params[:show_bookmarked] == '1'
    .customer-sort-field
      = label_tag :show_unassigned_jobs, "Show unassigned jobs?"
      = check_box_tag :show_unassigned_jobs, '1', params[:show_unassigned_jobs] == '1'
    .customer-sort-field
      = submit_tag "Go", class: "btn"

:javascript
  $(function() {
    var form = $('form.customer-sort-form');
    form.find('select[name="sort_by"], select[name="area_id"], input[name="search_term"]').on('change', function() {
      var resetInput = form.find('input:hidden[name="reset"]');
      if ($(this).val() === "") {
        resetInput.val('true');
      } else {
        resetInput.val('false');
      }
    });
  });
