- if resource.errors.present?
  .alert.alert-error
    The following errors prevented the #{resource.class.name.underscore.humanize.downcase} from being saved:
    %ul
      - resource.errors.full_messages.each do |error|
        %li= error
