%table#customer-search-results-table.table.table-bordered
  %thead
    %th &nbsp;
    %th Last clean
    - @index_default_customer_details_names.each do |name|
      %th= name
    %th Price
    %th Price inc VAT
    %th &nbsp;
  %tbody
    - @customers.each do |customer|
      - color_added = false
      %tr{class: customer.current_week_job_html_classes(week_override: @work_list.week), data: {customer_id: customer.id}}
        %td.checkbox-toggle{style: "background-color: ##{customer.area.color}"}
          &nbsp;
        %td= customer.last_clean_string
        - index_details = customer.index_details(true, @index_default_customer_details_names)
        - @index_default_customer_details_names.each_with_index do |name, i|
          %td{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
            - color_added = true
            - if params[:sort_by] == name && params[:use_trimmed_value] == '1'
              = index_details.find { |detail| detail.name == name }.try(:trimmed_value)
            - else
              = index_details.find { |detail| detail.name == name }.try(:value)
        %td= customer.regular_price.format
        %td= customer.regular_price_including_vat.format
        %td
          = link_to "Add", add_job_for_customer_work_list_path(@work_list, customer_id: customer.id), remote: true
          |
          = link_to "+ edit", add_job_for_customer_work_list_path(@work_list, customer_id: customer.id, edit_after_save: true), remote: true
