%span.td-content
  %span.invoice-number
    = job.invoice_number
  = link_to '#', class: 'edit-job-invoice-number hidden-print' do
    %span.icon.icon-pencil
%span.edit-job-invoice-number-field.input-append.hide
  = text_field_tag :invoice_number, job.invoice_number
  = button_tag class: 'btn', type: 'button', data: {job_id: job.id} do
    %span.icon.icon-ok
