- price = job.price_excluding_vat(true, default_vat_rate)
%span.td-content
  %span{style: 'margin-right: -4px'} &pound;
  %span.price-excluding-vat
    = price
  = link_to '#', class: 'edit-job-price hidden-print' do
    %span.icon.icon-pencil
%span.edit-job-price-field.input-prepend.input-append.hide
  %span.add-on &pound;
  = text_field_tag :price, price, class: 'price-excluding-vat'
  = button_tag class: 'btn', type: 'button', data: {job_id: job.id} do
    %span.icon.icon-ok
    