%td.notes{colspan: (business_signed_in? ? 10 : 9) + @work_list_default_customer_details_names.count - 1}
  - job.job_notes.each_with_index do |job_note, i|
    - if i > 0
      %hr
    = job_note.content.html_safe
