- default_vat_rate = work_list.work_list_category.business.default_vat_rate
- payment_methods_options = work_list.work_list_category.business.work_list_payment_methods_array.map { |pm| [pm.titleize, pm] } + [['None', nil]]
- use_checkboxes ||= false
- non_sortable ||= false

%table.table.table-bordered.work-list-table{class: business_signed_in? && !non_sortable && 'ui-sortable', data: {work_list_id: work_list.id, t1: work_list.token_1, t2: work_list.token_2}}
  %thead
    %th.hidden-print &nbsp;
    %th Time
    %th Invoice No.
    - @work_list_default_customer_details_names.each do |name|
      %th= name
    %th Amount
    %th VAT
    %th Total
    %th.hidden-print
      Out
      %br
      standing
    %th.hidden-print Completed

    %th
      %span.hidden-print Paid
      %span.visible-print Paid by cash
      %span.visible-print Paid by cheque
    %th.hidden-print Risks Assessment
    - if business_signed_in?
      %th.hidden-print &nbsp;
  %tbody
    - odd_row = true
    - work_list.jobs.work_list_order.each do |job|
      - odd_row = !odd_row
      - if business_signed_in?
        - url_params = {}
      - else
        - url_params = job.work_list.url_token_params
      %tr.work-list-job.clickable-row{class: (odd_row ? 'odd' : ''), id: "job-#{job.id}", data: {resource: 'customers', id: job.customer_id, job_id: job.id, record_id: job.id, extra_params: business_signed_in? || "job_id=#{job.id}&t1=#{work_list.token_1}&t2=#{work_list.token_2}"}}
        - if use_checkboxes
          %td.checkbox-toggle.hidden-print{style: "background-color: ##{job.customer.area.color}"}
            %input{type: 'checkbox', data: {job_id: job.id}}
        - else
          %td.clickable.hidden-print{style: "background-color: ##{job.customer.area.color}"}
            &nbsp;
        %td.clickable
          = job.formatted_time
        %td
          = render 'work_lists/editable_invoice_number_td', job: job
        - job.customer.tap do |customer|
          - color_added = false
          - index_details = customer.index_details(true, @work_list_default_customer_details_names)
          - @work_list_default_customer_details_names.each_with_index do |name, i|
            %td.clickable{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
              - color_added = true
              - if params[:sort_by] == name && params[:use_trimmed_value] == '1'
                = index_details.find { |detail| detail.name == name }.try(:trimmed_value)
              - else
                = index_details.find { |detail| detail.name == name }.try(:value)
        %td
          - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
            = render 'work_lists/editable_price_excluding_vat_td', job: job, default_vat_rate: default_vat_rate
        %td.clickable
          - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
            %span{style: 'margin-right: -4px'} &pound;
            %span.price-vat
              = job.vat(true, default_vat_rate)
        %td
          - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
            = render 'work_lists/editable_price_including_vat_td', job: job, default_vat_rate: default_vat_rate
        -# - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
        %td.clickable.hidden-print
          %span{style: 'margin-right: -4px'} &pound;
          %span.customer-outstanding-money
            = job.customer.outstanding_money
        %td.job-completed.hidden-print
          - if job.completed?
            = image_tag('tick.png')
          - else
            = link_to "Completed?", mark_as_completed_job_path(job, url_params), class: "btn btn-small", remote: true
        %td.job-paid
          %span.hidden-print
            - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
              - if job.paid?
                = job.total_payment_amount.format
                \-
                = job.total_payment_method.titleize
              - else
                = link_to "Paid?", '#', class: "mark-as-paid btn btn-small"
                .modal.job-paid-form.hide
                  .modal-body
                    = form_for job, url: mark_as_paid_job_path(job, url_params), method: :put, remote: true do |f|
                      %div
                        = f.label :payment_method
                        = f.select :payment_method, payment_methods_options
                      %div
                        = f.label :payment_amount, "Amount paid"
                        = f.text_field :payment_amount, value: job.price
                      %div
                        = f.label :invoice_number
                        = f.text_field :invoice_number
                      %br
                      = f.submit "Mark as paid", class: 'btn btn-small'
                      = image_tag "ajax-loader.gif", class: "hide ajax-loader"
        %td.job-risk_checked.hidden-print
          - if job.customer.risks_assessments.count==0
            =link_to "New", new_customer_risks_assessment_path(job.customer.id, :workList => @work_list)
            .alert.alert-danger Empty!!!!
          - else
            =link_to "Show", customer_risks_assessments_path(job.customer.id, :workList => @work_list)
            -if work_list.is_user_in_risk_assement?(job.customer.risks_assessments.last.id, current_user.id)
              .alert.alert-danger Check today
            -elsif !work_list.already_accept_any_risks_assessment(job.customer.risks_assessments.last.id, current_user.id)
              .alert.alert-danger Check today
            -else
              = image_tag('tick.png')
        %td.job-notes
          %span.hidden-print
            = link_to (job.job_notes.present? ? "Edit notes" : "Add notes"), '#', class: 'edit-notes'
            .modal.job-notes-form.hide
              .modal-body
                = render 'jobs/notes_form', job: job

        - if business_signed_in?
          - if current_user && (current_user.admin? || current_user.super_admin?)
            %td.hidden-print
              = link_to "Edit job", edit_job_path(job)
      - if job.job_notes.present?
        %tr.work-list-job-notes.ui-state-disabled{class: odd_row && 'odd', id: "job-#{job.id}-notes", data:{job_id: job.id}}
          %td &nbsp;
          = render 'work_lists/job_notes_td', job: job
    %tr.ui-state-disabled
      - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
        %th{colspan: @work_list_default_customer_details_names.length + 5, style: 'text-align:right'}
          Total
        %td= work_list.job_total_price_including_vat.format
        %td.hidden-print= work_list.job_total_outstanding_including_vat.format
        %td.hidden-print
          %strong= work_list.completed_job_total_price_including_vat.format
        %td.hidden-print= work_list.paid_job_total_price_including_vat.format
        %td.hidden-print &nbsp;
        %td{colspan: 2}
