- payment_methods_options = current_business.work_list_payment_methods_array.map { |pm| [pm.titleize, pm] } + [['None', nil]]
- default_vat_rate = current_business.default_vat_rate

%table.table.table-bordered.work-list-table{data: {work_list_id: work_list.id}}
  %thead
    %th.hidden-print &nbsp;
    %th Time
    %th Invoice No.
    - @work_list_default_customer_details_names.each do |name|
      %th= name
    %th Amount
    %th VAT
    %th Total
    %th.hidden-print
      Out
      %br
      standing
    %th.hidden-print Completed
    %th
      %span.hidden-print Paid
      %span.visible-print Paid by cash
    %th
      %span.hidden-print &nbsp;
      %span.visible-print Paid by cheque
    %th.hidden-print &nbsp;
  %tbody
    - odd_row = true
    - work_list.jobs.work_list_order.each do |job|
      - odd_row = !odd_row
      %tr.work-list-job.clickable-row{class: (odd_row ? 'odd' : ''), id: "job-#{job.id}", data: {resource: 'customers', id: job.customer_id, job_id: job.id, record_id: job.id}}
        %td.clickable.hidden-print{style: "background-color: ##{job.customer.area_color_cache}"}
          &nbsp;
        %td.clickable
          = job.formatted_time
        %td
          = job.invoice_number
        - job.customer.tap do |customer|
          - color_added = false
          - index_detail_values = customer.index_detail_values_from_cache(@work_list_default_customer_details_names)
          - @work_list_default_customer_details_names.count.times do |i|
            %td.clickable{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
              - color_added = true
              = index_detail_values[i]
        %td
          = render 'work_lists/editable_price_excluding_vat_td', job: job, default_vat_rate: default_vat_rate
        %td.clickable
          %span{style: 'margin-right: -4px'} &pound;
          %span.price-vat
            = job.vat(true, default_vat_rate)
        %td
          = render 'work_lists/editable_price_including_vat_td', job: job, default_vat_rate: default_vat_rate
        %td.clickable.hidden-print
          %span{style: 'margin-right: -4px'} &pound;
          %span.customer-outstanding-money
            = job.customer.outstanding_money
        %td.job-completed.hidden-print
          - if job.completed?
            = image_tag('tick.png')
          - else
            = link_to "Mark as completed", mark_as_completed_job_path(job), class: "btn btn-small", remote: true
        %td.job-paid
          %span.hidden-print
            - if job.paid?
              = job.total_payment_amount.format
              \-
              = job.total_payment_method.titleize
            - else
              = link_to "Mark as paid", '#', class: "mark-as-paid btn btn-small"
              .modal.job-paid-form.hide
                .modal-body
                  = form_for job, url: mark_as_paid_job_path(job), method: :put, remote: true do |f| 
                    %div
                      = label_tag 'job[payment_method]', 'Payment method'
                      = select_tag 'job[payment_method]', options_for_select(payment_methods_options)
                    %div
                      = label_tag 'job[payment_amount]', "Amount paid"
                      = text_field_tag 'job[payment_amount]', job.price
                    %div
                      = f.label :invoice_number
                      = f.text_field :invoice_number
                    %br
                    = f.submit "Mark as paid", class: 'btn btn-small'
                    = image_tag "ajax-loader.gif", class: "hide ajax-loader"
        %td.job-notes
          %span.hidden-print
            = link_to (job.job_notes.present? ? "Edit notes" : "Add notes"), '#', class: 'edit-notes'
            .modal.job-notes-form.hide
              .modal-body
                = render 'jobs/notes_form', job: job

        %td.hidden-print
          = link_to "Edit job", edit_job_path(job)
      - if job.job_notes.present?
        %tr.work-list-job-notes{class: odd_row && 'odd', id: "job-#{job.id}-notes", data:{job_id: job.id}}
          %td &nbsp;
          = render 'work_lists/job_notes_td', job: job
    %tr
      %th{colspan: @work_list_default_customer_details_names.length + 5, style: 'text-align:right'}
        Total
      %td= work_list.job_total_price_including_vat.format
      %td.hidden-print= work_list.job_total_outstanding_including_vat.format
      %td.hidden-print
        %strong= work_list.completed_job_total_price_including_vat.format
      %td.hidden-print= work_list.paid_job_total_price_including_vat.format
      %td.hidden-print &nbsp;
      %td{colspan: 2}
