(function() {
  <% if @success %>
    <% if params[:edit_after_save] %>
      window.location = "<%= edit_job_path(@job) %>";
    <% else %>
      $('tr[data-customer-id="<%= @customer.id %>"]').remove();
    <% end %>
  <% end %>
})();