(function() {

  var modal = $('#customer-search-results');

  modal.find('.modal-body')
       .html('<%= j render "work_lists/customer_search_results" %>');

  modal.on('hidden', function() {
    window.location = "<%= j work_list_path(@work_list) %>";
  }).modal('show');

})();