:css
  @media print{@page {size: landscape}}
-$day_today = @work_list.date

.hidden-print
  - if current_user && (current_user.admin? || current_user.super_admin?)
    = link_to "Back to week", @work_list.week, class: 'btn'
  %br
  - if business_signed_in?
    - if current_user && (current_user.admin? || current_user.super_admin?)
      Public link:
      = link_to(url = work_list_url(@work_list, @work_list.url_token_params), url, target: '_blank')
  %br
  = link_to "Print", '#', onclick: 'window.print();'
  - if current_user && (current_user.admin? || current_user.super_admin?)
    - if business_signed_in?
      %br
      %span
        = link_to "Add job for new customer", quick_new_job_path(date: @work_list.date, work_list_category_id: @work_list.work_list_category_id), class: 'btn'
      %span
        = form_tag customer_search_work_list_path(@work_list), remote: true, id: "work-list-customer-search-form" do
          = text_field_tag :search_term, nil, placeholder: "Add job for existing customer"
          = submit_tag 'Search', class: 'btn', disabled: 'disabled'
      %span#work-list-ordering-enabler
        = link_to "Edit ordering", '#', class: "btn"
      %span#work-list-ordering-buttons.hide
        = link_to "Reset ordering", reset_job_ordering_work_list_path(@work_list), class: "btn"
        = link_to "Save ordering", update_job_ordering_work_list_path(@work_list), class: "btn save-ordering", data: {table_selector: 'table.work-list-table.ui-sortable', work_list_order: true}

= render 'show', work_list: @work_list, use_checkboxes: true

%div
  - unless @work_list.apply_target?
    Target is applied when there are jobs
  %div{class: @work_list.apply_target? || 'inactive-work-list-target'}
    - if current_user && (current_user.admin? || current_user.super_admin? || current_user.team_leader?)
      %h3 Target: #{@work_list.target.format}
      - if current_user && (current_user.admin? || current_user.super_admin?)
        - if business_signed_in?
          = form_for @work_list, url: update_target_work_list_path(@work_list) do |f|
            = f.label :target, "Set new target"
            = f.text_field :target
            %br
            = f.check_box :visible
            Visible
            %br
            = f.label :publication_date
            = f.date_field :publication_date
            = f.label :publication_time
            = f.time_field :publication_time
            %br
            %h5 Cleaners for this work list
            = f.collection_check_boxes :user_ids, current_business.users.where(role: 'Cleaner'), :id, :name do |b|
              = b.label class: "check-box" do
                = b.check_box class: "check-box"
                = b.object.name
            = f.submit "Submit", class: 'btn'

- day_options = short_days_of_week.map.with_index { |day, i| [day, i] }
- work_list_category_options = @work_list.week.work_lists.map(&:work_list_category).uniq.map { |wlc| [wlc.name, wlc.id] }
- if current_user && (current_user.admin? || current_user.super_admin?)
  - if business_signed_in?
    #move-selected-jobs-to-work-list.hidden-print
      /= select_tag :day, options_for_select([['N/A', -1]] + day_options, @work_list.day), {style: 'width: 80px'}
      = date_field_tag :date, @work_list.date
      = select_tag :work_list_category_id, options_for_select([['None', nil]] + work_list_category_options, @work_list.work_list_category_id), {style: 'width: 150px'}
      = link_to "Move selected jobs to this work list", '#', class: 'btn'
      = link_to "Cancel jobs", '#', class: "btn job-cancel-button"
    .hidden-print
      - if @work_list.completed?
        %h3 Work list signed off
        = link_to "Undo sign off", mark_as_incompleted_work_list_path(@work_list), class: 'btn'
      - else
        = link_to "Sign off work list", mark_as_completed_work_list_path(@work_list), class: 'btn'



.hidden-print
  .span6
    %h3 Notes
    - if @work_list.work_list_notes.length.zero?
      %span.no-work-list-notes No notes to show
    - else
      = render 'work_list_notes/table'
    = form_for [@work_list, WorkListNote.new], remote: true do |f|
      = hidden_field_tag :t1, @work_list.token_1
      = hidden_field_tag :t2, @work_list.token_2
      .work-list-note-errors.hide
      = f.label :content, "Add note"
      = f.text_area :content, size: "30x8"
      = f.submit "Submit", class: 'btn'

#customer-search-results.modal.hide.hidden-print
  .modal-body

:javascript
  $('form#work-list-customer-search-form input[name="search_term"]').on('keyup', function() {
    var self = $(this);
    var submitButton = self.siblings('input[type="submit"]');
    if (self.val() && self.val().length >= 3) {
      submitButton.removeAttr('disabled');
    } else {
      submitButton.attr('disabled', 'disabled');
    }
  });
