%div
  = f.label :area_id
  = f.select :area_id, current_business.areas.map { |area| [area.name, area.id] }
%div
  = f.label :regularity
  = f.select :regularity, customer_regularities_for_select
  = f.select :regularity_type, customer_regularity_types_for_select
%div
  = f.label :start_date, 'Scheduled start date'
  = f.date_field :start_date
%div
  = f.label :regular, class: 'checkbox' do
    = f.check_box :regular
    Regular?
%div
  = f.label :day_span, "Spans over multiple days?"
  = f.select :day_span, [['No', 1]] + (2..5).map { |i| ["#{i} days", i] }
%div
  = f.label :regular_price
  = f.text_field :regular_price
%div
  = f.label :add_vat, class: 'checkbox' do
    = f.check_box :add_vat
    Add VAT to price?
%div
  = f.label :color, current_business.customer_color_field_name
  = f.text_field :color, class: 'color-picker'
