%tr
  %th{width: 300}= customer_detail.name
  %td{style: !color_added && @customer.color.present? ? "background-color:##{@customer.color}" : ''}
    .scrollable-container
      = customer_detail.value.html_safe
- customer_detail.children.each_with_index do |child, i|
  %tr
    %th{width: 300} #{customer_detail.name} #{i + 2}
    %td

      .scrollable-container
        = child.value.html_safe
