#customer-data{data: {customer: @customer_json}}

= form_for @customer, html: {class: 'customer-form'} do |f|
  = f.hidden_field :owner_id
  = render 'shared/form_errors', resource: @customer

  #customer-details

  %div
    %h4 Clean details
    = render 'customers/clean_details_fields', f: f
    %hr

  %div
    = f.submit class: 'btn'
