(function() {
<% if @success %>
  var row = $('table#customers-index tr[data-id="<%= @customer.id %>"]');
  row.find('.add-job-for-current-week, .add-job-for-current-week-bar, .delete-customer, .delete-customer-bar').remove();
  row.addClass('job-in-current-week');
<% else %>
  alert('Error with adding job to this week');
<% end %>
})();
