- if current_user && current_user.admin? || current_user && current_user.super_admin?
- completed_search_present = @completed_search.present?

  %div
    = link_to "New customer", new_customer_path
  %div
    = render "shared/customer_search"
  %div
    = @customers.count
    results

  = will_paginate @customers
  %table#customers-index.table.table-bordered.table-fixed-header
    %thead
      %th &nbsp;
      %th Last clean
      - @index_default_customer_details_names.each do |name|
        %th= name
      %th Regular price
      %th &nbsp;
      - if completed_search_present
        %th &nbsp;
    %tbody
      - if current_user && current_user.admin? || current_user && current_user.super_admin?
        - @customers.each do |customer|
          - color_added = false
          %tr.clickable-row{class: customer.current_week_job_html_classes(job_fields_cached: true) + (customer.bookmarked?(current_user, @bookmark_customer_ids_cache) ? ' bookmarked' : ''), data: {resource: 'customers', id: customer.id}}
            %td.clickable{style: "background-color: ##{customer.area_color_cache}"}
              %span.icon.icon-bookmark.bookmarkable-bookmark{data: {bookmarkable_id: customer.id, bookmarkable_type: "Customer"}}
            %td.clickable= customer.last_clean_string
            - index_detail_values = customer.index_detail_values_from_cache(@index_default_customer_details_names)
            - @index_default_customer_details_names.count.times do |i|
              %td.clickable{style: !color_added && customer.color.present? ? "background-color:##{customer.color}" : ''}
                - color_added = true
                = index_detail_values[i]
            %td.clickable= customer.regular_price.format
            %td
              - unless customer.active?
                %strong Inactive
                |
              = link_to "Edit", edit_customer_path(customer)
              - if customer.jobs_count.zero?
                %span.delete-customer-bar
                  |
                = link_to "Delete", customer_path(customer), method: :delete, data: {confirm: "Are you sure?"}, class: 'delete-customer'
              - if customer.job_id_cache.blank? && customer.job_in_current_week_work_list_id_cache.blank?
                %span.add-job-for-current-week-bar
                  |
                = link_to "Add job for this week", create_job_for_current_week_customer_path(customer), method: :post, remote: true, class: 'add-job-for-current-week'
            - if completed_search_present
              %td
                %span.icon.icon-eye-close.remove-customer-from-search-results{data: {customer_id: customer.id}}

= will_paginate @customers
