- if business_signed_in?
  - if @customer.owner.present?
    Owned by #{@customer.owner.property_identifier} -
    = link_to "View", @customer.owner
    %hr
  - if current_user && current_user.admin? || current_user && current_user.super_admin?
    = link_to "Edit", edit_customer_path(@customer)
    - if @customer.jobs.count.zero? && @customer.payments.count.zero?
      = link_to "Delete", @customer, method: :delete, data: {confirm: "Are you sure?"}

.row
  .span6
    - color_added = false
    - if current_user && current_user.admin? || current_user && current_user.super_admin?
      - @customer_details.each do |key_value|
        - next if key_value[0].blank?
        %h4= key_value[0]
        - key_value[1].keys.each do |group_index|
          %table.table.table-bordered.table-vertical
            %tbody
              - key_value[1][group_index].each do |customer_detail|
                = render 'customer_detail_row', customer_detail: customer_detail, color_added: color_added
                - color_added = true
    - elsif (current_user && current_user.team_leader?)
      - if @full_details == true
        - @customer_details.each do |key_value|
          - next if key_value[0].blank?
          %h4= key_value[0]
          - key_value[1].keys.each do |group_index|
            %table.table.table-bordered.table-vertical
              %tbody
                - key_value[1][group_index].each do |customer_detail|
                  = render 'customer_detail_row', customer_detail: customer_detail, color_added: color_added
                  - color_added = true

    - if @extra_customer_details.present?
      %h4 Extra Details
      %table.table.table-bordered.table-vertical
        %tbody
          - @extra_customer_details.each do |customer_detail|
            = render 'customer_detail_row', customer_detail: customer_detail, color_added: color_added

    %h4 Clean details
    %table.table.table-bordered.table-vertical
      %tbody
        %tr
          %th Area
          %td{style: "background-color: ##{@customer.area.color}"}
            = @customer.area.name
        %tr
          %th Regularity
          %td
            - if @customer.one_off?
              N/A
            - else
              = pluralize(@customer.regularity, @customer.regularity_type)
            - if @customer.non_regular?
              (not regular)
        %tr
          %th Spans over multiple days?
          %td
            - if @customer.day_span < 2
              No
            - else
              #{@customer.day_span} days
        %tr
          - if @customer.jobs.completed.count.zero?
            %th Scheduled start date
            %td= @customer.start_date.try(:to_s, :long) || 'N/A'
          - else
            %th Initial clean
            %td= @customer.jobs.by_completed_at(:asc).first.completed_at.to_s(:long)
        %tr
          %th Last Clean
          %td= @customer.last_clean_string
        %tr
          %th Regular Price
          %td= @customer.regular_price.format
        - if @customer.add_vat?
          %tr
            %th Regular Price inc. VAT
            %td= @customer.regular_price_including_vat.format
        - if @customer.outstanding_money_cents != 0
          %tr
            - if @customer.outstanding_money_cents > 0
              %th Outstanding money
              %td= @customer.outstanding_money.format
            - else
              %th Money overpaid
              %td= (-@customer.outstanding_money).format

    - unless @customer.owned?
      %h4 Other properties
      - unless @customer.properties.count.zero?
        %table.table.table-bordered
          %tbody
            - @customer.properties.each do |property|
              %tr
                %td{style: "background-color:##{property.property_hex_color}"} &nbsp;
                %td
                  - if property.property_identifier.present?
                    = property.property_identifier
                  - else
                    NO ID
                %td= link_to "View", property
      = link_to "Add other property", new_customer_path(owner_id: @customer.id)


  .span6
    %h3 Notes
    - if @customer.notes.length.zero?
      %span.no-customer-notes No notes to show
    - else
      = render 'customer_notes/table'
    - if business_signed_in?
      = form_for [@customer, CustomerNote.new(date: Time.now)], remote: true do |f|
        .customer-note-errors.hide
        = f.label :content, "Add note"
        = f.text_area :content, size: "30x8"
        - if current_user && current_user.super_admin?
          = f.label :date, "Date"
        = f.submit "Submit", class: 'btn', style: 'float:right'
        .customer-note-date-placeholder-container
          - if current_user && current_user.super_admin?
            = f.object.date.strftime("%d %b %Y %H:%M")
            \-
            = link_to "Edit", '#', class: 'edit-date-link'
        .customer-note-date-edit-container.hide
          %span.small-datetime-select
            = f.datetime_select :date
    %hr
    %h3 Attachments
    - if @customer.attachments.count.zero?
      %span No attachments
    - else
      - @customer.attachments.order('attachments.created_at DESC').each do |attachment|
        %div
          = link_to attachment.real_name, attachment.attachment.url, target: '_blank'
          - if business_signed_in?
            \-
            - if current_user && current_user.admin? || current_user && current_user.super_admin?
              = link_to "Delete", [@customer, attachment], method: :delete, data: {confirm: "Are you sure?"}
    %div
      = form_for [@customer, Attachment.new] do |f|
        - unless business_signed_in?
          = hidden_field_tag :job_id, params[:job_id]
          = hidden_field_tag :t1, params[:t1]
          = hidden_field_tag :t2, params[:t2]
        = f.label :name, "Name (optional)"
        = f.text_field :name
        %br
        = f.file_field :attachment
        = f.submit "Submit", class: 'btn'

-# %h3 Risks Assessments
-# -if @customer.risks_assessments.count == 0
-#   .alert.alert-info
-#     There are not Risks Assessments for this job yet.
-# -else
-#   - @customer.risks_assessments.each do |risks_assessment|
-#     %p
-#       %b By
-#       %td= link_to risks_assessment.operative, customer_risks_assessment_path(@customer, risks_assessment)
-#       %td= link_to risks_assessment.created_at.strftime("%d %b %Y %k:%M"), customer_risks_assessment_path(@customer, risks_assessment)
-#       - if current_user && current_user.super_admin? || (risks_assessment.operative == current_user.name && risks_assessment.created_at >= Time.now - 60.minutes)
-#         = link_to 'Delete', customer_risks_assessment_path(@customer,risks_assessment.id),method: "delete", class: "btn", data: { confirm: "Are your sure?"}
-# = link_to 'New Risk assessment', new_customer_risks_assessment_path(@customer), class: 'btn'

%h3 Jobs

- if business_signed_in?
  - if current_user && current_user.admin? || current_user && current_user.super_admin?
    = link_to "Add new job", new_job_path(customer_id: @customer.id)

- if @customer.all_jobs.count.zero?
  %p No jobs to show
- else
  - if @customer.properties.count > 0
    %br
    = link_to "Hide jobs for other properties", '#', class: 'other-properties-jobs-toggle hide-toggle'
    = link_to "Show jobs for other properties", '#', class: 'other-properties-jobs-toggle show-toggle hide'
  %table.table.table-bordered.jobs-table
    %thead
      %th &nbsp;
      %th Invoice No.
      %th Price
      %th Date
      %th Completed
      %th Paid
      %th Paid date
      %th Notes
      - if business_signed_in?
        %th &nbsp;
    %tbody
      - @customer.all_jobs{|j| j.not_expired}.each do |job|
        %tr.highlight-on-hover-linked{class: job.customer_id != @customer.id && 'other-property', data: {resource_name: 'job', other_resource_name: 'payment', hover_job_id: job.id, hover_payment_ids: job.job_payments.pluck(:payment_id)}}
          %td{style: "background-color:##{job.customer.property_hex_color}"} &nbsp;
          %td
            - if job.property_identifier.present?
              %strong= job.property_identifier
              %br
            = job.invoice_number
          %td
            = job.price_including_vat.format
          %td
            - if job.date.present?
              = job.date.to_s(:long)
            - else
              Not assigned (week starting #{job.week.start_date.to_s(:long)})
          %td
            - if job.completed_cache
              = image_tag('tick.png')
            - else
              = image_tag('cross.png')
          %td
            - if job.paid?
              = job.total_payment_amount.format
              (#{job.total_payment_method})
            - else
              = image_tag('cross.png')
              = link_to "Mark as paid", new_customer_payment_path(@customer, job_id: job.id), class: 'btn'
          %td
            - if job.paid?
              = job.total_payment_date
            - else
              \-
          %td
            = job.job_notes.last.try(:content).try(:html_safe)
            %br
            = link_to "...", '#', class: 'job-notes-modal-link'
            .modal.hide
              .modal-body
                - if job.job_notes.length.zero?
                  No notes to show
                - else
                  = render 'job_notes/table', job: job
          - if business_signed_in?
            - if current_user && current_user.admin? || current_user && current_user.super_admin?
              %td
                = link_to "Edit", edit_job_path(job)
                = link_to "Delete", job_path(job, return_path: customer_path(job.customer)), method: :delete, data: {confirm: "Are you sure?"}
                - if job.work_list
                  %br
                  = link_to "View work list", job.work_list
                - elsif job.week
                  %br
                  = link_to "View week", job.week

- if @customer.owned?
  - if business_signed_in?
    = link_to "Add new payment", new_customer_payment_path(@customer)
- else
  = link_to "Show payments", '#', class: 'show-payments-section'
  = link_to "Hide payments", '#', class: 'hide-payments-section hide'
  #payments-section.hide
    %h3 Payments

    - if business_signed_in?
      = link_to "Add new payment", new_customer_payment_path(@customer)

    - if @customer.all_payments.count.zero?
      %p No payments to show
    - else
      %table.table.table-bordered.payments-table
        %thead
          %th Job
          %th Date
          %th Payment method
          %th Amount
          %th Payment charge
          %th Credit to customer?
          - if current_user && current_user.admin? || current_user && current_user.super_admin?
            %th &nbsp;
        %tbody
          - @customer.all_payments.each do |payment|
            %tr{class: payment.job_payments.count > 0 ? 'highlight-on-hover-linked' : 'highlight-on-hover', data: {resource_name: 'payment', other_resource_name: 'job', hover_payment_id: payment.id, hover_job_ids: payment.job_payments.pluck(:job_id)}}
              %td
                - if payment.property_identifier.present?
                  %strong= payment.property_identifier
                  %br
                = payment.jobs.pluck(:invoice_number).join(', ')
              %td= payment.date.to_s(:long)
              %td= payment.formatted_method
              %td= payment.amount.format
              %td= payment.charge.format
              %td
                - if payment.credit?
                  = image_tag('tick.png')
              - if current_user && current_user.admin? || current_user && current_user.super_admin?
                %td
                  = link_to "Edit", edit_customer_payment_path(payment.customer, payment)
                  = link_to "Delete", [@customer, payment], method: :delete, data: {confirm: "Are you sure?"}

%hr
- if current_user && current_user.admin? || current_user && current_user.super_admin?
  - if business_signed_in?
    - if @customer.active?
      %h4 This customer is active
      = link_to "Deactivate", deactivate_customer_path(@customer), class: 'btn'
    - else
      %h4 This customer is inactive
      = link_to "Activate", activate_customer_path(@customer), class: 'btn'
  %hr

:javascript
  $(function() {
    $('a.job-notes-modal-link').on('click', function(e) {
      e.preventDefault();
      $(this).siblings('.modal').modal('show');
    });

    var dateFields = [];
    var dateFieldsDefaultValues = [];
    $('.customer-note-date-edit-container select').each(function() {
      dateFields.push($(this));
      dateFieldsDefaultValues.push($(this).val());
    });

    $('.customer-note-date-placeholder-container a.edit-date-link').on('click', function(e) {
      e.preventDefault();
      $('.customer-note-date-placeholder-container').hide();
      $('.customer-note-date-edit-container').show();
    });

    $('form.new_customer_note').on('ajax:complete', function() {
      for (var i = 0; i < dateFields.length; ++i) {
        dateFields[i].val(dateFieldsDefaultValues[i]);
      }
      $('.customer-note-date-placeholder-container').show();
      $('.customer-note-date-edit-container').hide();
      return true;
    });

    $('tr.highlight-on-hover-linked').on('mouseover', function() {
      var otherResourceName = $(this).data('other-resource-name');
      var ids = $(this).data('hover-' + otherResourceName + '-ids');
      for (var i = 0; i < ids.length; ++i) {
        $('tr.highlight-on-hover-linked[data-resource-name="' + otherResourceName + '"][data-hover-' + otherResourceName + '-id="' + ids[i] + '"]').addClass('hovering');
      }
    }).on('mouseout', function() {
      var otherResourceName = $(this).data('other-resource-name');
      var ids = $(this).data('hover-' + otherResourceName + '-ids');
      for (var i = 0; i < ids.length; ++i) {
        $('tr.highlight-on-hover-linked[data-resource-name="' + otherResourceName + '"][data-hover-' + otherResourceName + '-id="' + ids[i] + '"]').removeClass('hovering');
      }
    }).on('click', function() {
      var isSelected = $(this).hasClass('selected');
      $('tr.highlight-on-hover-linked.selected').removeClass('selected');
      if (!isSelected) {
        var otherResourceName = $(this).data('other-resource-name');
        var ids = $(this).data('hover-' + otherResourceName + '-ids');
        for (var i = 0; i < ids.length; ++i) {
          $('tr.highlight-on-hover-linked[data-resource-name="' + otherResourceName + '"][data-hover-' + otherResourceName + '-id="' + ids[i] + '"]').addClass('selected');
        $(this).addClass('selected');
        }
      }
    });

    $('a.show-payments-section').on('click', function(e) {
      e.preventDefault();
      $('#payments-section').slideDown();
      $('a.hide-payments-section').show();
      $(this).hide();
    });

    $('a.hide-payments-section').on('click', function(e) {
      e.preventDefault();
      $('a.show-payments-section').show();
      $('#payments-section').slideUp();
      $(this).hide();
    });

    $('a.other-properties-jobs-toggle').on('click', function(e) {
      e.preventDefault();

      $('a.other-properties-jobs-toggle').show();
      $(this).hide();

      if ($(this).hasClass('show-toggle')) {
        $('table.jobs-table tr.other-property').show();
      } else {
        $('table.jobs-table tr.other-property').hide();
      }
    });
  });
