%h3 Work list categories
= render 'work_list_categories/index'

%h3 Customer details
= link_to "Save ordering", update_ordering_default_customer_details_path, class: "btn save-ordering", data: {table_selector: 'table.default-customer-details.ui-sortable', work_list_order: 'true'}
%table.default-customer-details.table.table-bordered.ui-sortable
  %thead
    %tr
      %th Name
      %th Visible in work list?
  %tbody
    - @default_customer_details.each do |default_customer_detail|
      %tr{data: {record_id: default_customer_detail.id}}
        %td= default_customer_detail.name
        %td
          %span.tick-cross= image_tag(default_customer_detail.visible_in_work_list? ? "tick.png" : "cross.png")
          = link_to "Toggle visible", toggle_visible_in_work_list_default_customer_detail_path(default_customer_detail), data: {remote: true}, class: 'btn btn-small'

%h3 Payment methods
%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Visible in work list?
  %tbody
    - business_work_list_payment_methods_array = current_business.work_list_payment_methods_array
    - Payment::PAYMENT_METHODS.each do |payment_method|
      %tr{data: {payment_method: payment_method}}
        %td= payment_method.titleize
        %td
          %span.tick-cross= image_tag(business_work_list_payment_methods_array.include?(payment_method) ? "tick.png" : "cross.png")
          = link_to "Toggle visible", toggle_work_list_payment_method_path(payment_method: payment_method), data: {remote: true}, class: 'btn btn-small'
