= form_for @area do |f|
  = hidden_field_tag :return_path, params[:return_path]
  = render 'shared/form_errors', resource: @area
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :color, 'Colour'
    = f.text_field :color, class: 'color-picker'
  %div
    = f.submit class: 'btn'
