%div
  = link_to "New area", new_area_path

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Color
      %th &nbsp;
  %tbody
    - @areas.each do |area|
      %tr
        %td
          = area.name
        %td{style: "background-color: ##{area.color}"}
          &nbsp;
        %td
          = link_to "View", area
          = link_to "Edit", edit_area_path(area)
          - if area.customers.count.zero?
            = link_to "Delete", area_path(area), method: :delete, data: {confirm: "Are you sure?"}
