%div
  = @area.name
%div
  %table.table.table-bordered
    %thead
      %th Customer
      %th &nbsp;
    %tbody
      - @area.customers.each do |customer|
        %tr
          %td= customer.formatted_index_details
          %td= link_to "View", customer
