/- job_options = @customer.all_jobs { |j| j.not_paid.select(:id, :invoice_number, :customer_id, :day, :week_id) }.map { |j| ["#{j.invoice_number} - #{j.customer.property_identifier}", j.id]}
/- is_edit ||= false
- customer ||= @customer
- payment ||= @payment
- remote ||= false
- submit_disabled ||= false
- jobs_for_payment_distribution ||= []

= form_for [customer, payment], remote: remote do |f|
  = render 'shared/form_errors', resource: payment
  = hidden_field_tag :redirect_to_edit_job_id
  = hidden_field_tag :redirect_to_finances, params[:redirect_to_finances]
  - jobs_for_payment_distribution.each do |job|
    = hidden_field_tag "job_payment_distribution[#{job.id}]"
  %div
    = f.label :date
    = f.date_field :date
  %div
    = f.label :method
    = f.select :method, Payment::PAYMENT_METHODS.map { |pm| [pm.titleize, pm] }, include_blank: 'None'
  %div
    = f.label :amount
    = f.text_field :amount
  %div
    = f.label :credit, class: 'checkbox' do
      = f.check_box :credit
      Credit to customer?
  / %div
  /   = f.label :job_id
  /   - if is_edit
  /     = @payment.job.try(:invoice_number) || 'None'
  /   - else
  /     = f.select :job_id, job_options, include_blank: 'None'
  %div
    = f.submit class: 'btn', disabled: submit_disabled && 'disabled'

:javascript
  $(function() {
    $('input[name="payment[amount]"]').on('keyup change', function() {
      var submitButton = $(this).parents('form').find('input[submit]');
      if (!$(this).val() || parseFloat($(this).val()) <= 0) {
        submitButton.attr('disabled', 'disabled');
      } else {
        submitButton.removeAttr('disabled');
      }
    });
  });
