%h4 Jobs
%table.table.table-bordered.payment-jobs-table
  %thead
    %th &nbsp;
    %th Property
    %th Invoice No.
    %th Price
    %th Date
    %th
      Payment distribution (total:
      %span#payment-distribution-target-total
        - if @payment.new_record?
          #{Money.new(0, 'GBP').format})
        - else
          #{@payment.amount.format})
  %tbody
    - total_amount = Money.new(0, 'GBP')
    - jobs.each do |job|
      %tr{data: {job_id: job.id}, style: job.paid? ? "" : "background-color: #FFDDDD"}
        %td{style: "background-color: ##{job.customer.property_hex_color}"} &nbsp;
        %td= job.customer.property_identifier.present? ? job.customer.property_identifier : 'NO ID'
        %td= job.invoice_number
        %td= job.price.format
        %td= job.date.try(:to_s, :long) || "Week starting #{job.week.start_date.to_s(:long)}"
        %td
          = text_field_tag "job_payment_distribution_dummy[#{job.id}]", ((@payment.new_record? && job.try(:id) == params[:job_id].to_i ? @payment.amount : @payment.job_payment(job).try(:amount)) || Money.new(0, 'GBP')).tap { |amount| total_amount += amount }
    %tr
      %td{colspan: 5} &nbsp;
      %td#payment-distribution-total= total_amount.format

:javascript
  $(function() {
    var checkTotal = function() {
      var total = 0;
      $('.payment-jobs-table tr').each(function() {
        var jobId = $(this).data('job-id');
        var input = $(this).find('input[name="job_payment_distribution_dummy[' + jobId + ']"]');
        if (input[0]) {
          var value = input.val();
          if (value) {
            total += parseFloat(value);
          }
        }
      });

      var totalStr = '&pound;' + total.toFixed(2);

      var paymentDistributionTotalTd = $('#payment-distribution-total');
      paymentDistributionTotalTd.html(totalStr);

      var targetValue = $('input[name="payment[amount]"]').val();
      if (targetValue) {
        targetValue = parseFloat(targetValue);
      } else {
        targetValue = 0;
      }
      var submitButton = $('form.edit_payment, form.new_payment').find('input[type="submit"]');
      if (total === targetValue && total != 0) {
        paymentDistributionTotalTd.removeClass('alert-error');
        submitButton.removeAttr('disabled');
      } else {
        if (total != targetValue) {
          paymentDistributionTotalTd.addClass('alert-error');
          var adjustmentStr = '(' + (total < targetValue ? '+' : '-') + Math.abs(total - targetValue).toFixed(2) + ')';
          paymentDistributionTotalTd.html(paymentDistributionTotalTd.html() + ' ' + adjustmentStr);
        }
        submitButton.attr('disabled', 'disabled');
      }
    };

    $('input[name="payment[amount]"]').on('change keyup', function() {
      $('#payment-distribution-target-total').html('&pound;' + $(this).val() + ')');
      checkTotal();
    });

    var updateCorrespondingInput = function() {
      var name = $(this).attr('name').replace('_dummy', '');
      $('input[name="' + name + '"]').val($(this).val());
    };
    $('.payment-jobs-table input').on('change', function() {
      if (!$(this).val()) {
        $(this).val('0.00');
      }
      updateCorrespondingInput.bind(this)();
      checkTotal();
    }).on('keyup', function() {
      updateCorrespondingInput.bind(this)();
      checkTotal();
    }).each(updateCorrespondingInput);

    checkTotal();
  });
