- jobs = @customer.all_jobs { |j| j.completed }
- unless @payment.new_record?
  .row
    = link_to "Delete", [@customer, @payment], method: :delete, data: {confirm: "Are you sure?"}
  %hr
.row
  .span4
    %strong
      = @customer.property_identifier
    = render 'form', submit_disabled: true, jobs_for_payment_distribution: jobs
  .span8
    = render 'jobs_table', jobs: jobs
