- jobs = @customer.all_jobs { |j| j.completed }
.row
  .span4
    %strong
      = @customer.property_identifier
      \- Amount outstanding:
      = @customer.outstanding_money.format
    = render 'form', submit_disabled: true, jobs_for_payment_distribution: jobs
  .span8
    = render 'jobs_table', jobs: jobs
