= form_for @customer_detail_category do |f|
  = render 'shared/form_errors', resource: @customer_detail_category
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.submit "Submit", class: "btn"
