.field_with_errors
  input, textarea, select
    border-color: red

.customer-sort-field
  display: inline-block

iframe.wysihtml5-sandbox
  resize: both

a.save-ordering
  float: right

.customer-detail-header
  text-decoration: underline

#customer-notes tr.job-note, tr.odd
  background-color: #eee

#customers-index
  tr:nth-child(even)
    background-color: #eee

.current-day
  background-color: #f88

#customers-index, #weeks-index, #finances-weeks, .weeks-show-table, #customer-search-results-table
  tr.job-in-current-week, tr.current-week
    background-color: #f88
    &.job-non-regular
      background-color: #dde
    &.job-assigned-to-work-list
      background-color: #afa

.job-completed, .job-paid, .job-risk_checked
  img
    width: 16px

tr.clickable-row
  td.clickable
    cursor: pointer
  &:hover
    td
      border-top-color: black
    & + tr
      td
        border-top-color: black

a .icon
  color: black
a:hover .icon
  color: black
  text-decoration: none
.edit-job-price-field input
  width: 50px

.work-list-with-jobs
  background-color: #afa

.work-list-signed-off
  background-color: #bbb

.work-list-table
  background-color: #fff

#customer-search-results.modal
  width: 1200px
  margin-left: -600px

.inactive-work-list-target
  color: #bbb

.target-met-icon
  float: right

.target-inspect-icon
  color: #000
  float: right
  text-decoration: none

td.target-met
  background-color: #8f8
td.target-not-met
  background-color: #f88

.small-datetime-select
  select
    width: 80px

.bookmarkable-bookmark
  color: white
  text-shadow: 1px 1px #555555
  &:hover
    color: #DDDDDD
tr.bookmarked
  .bookmarkable-bookmark
    color: #FFD700
  td:nth-child(2), td:nth-child(4)
    background-color: #FFD700

.highlighted-expense
  td:nth-child(3)
    background-color: #DDDDFF

.customer-search
  .customer-sort-groups
    .row:only-child
      .customer-sort-group:only-child
        a.close
          display: none

.customer-search-toggle
  &:hover
    cursor: pointer
  &.both
    color: #BBBBBB
  &.applied
    color: #333333
  &.unapplied
    color: #FF3333

#expense-show-table
  th
    width: 100px
    text-align: right

.finance-unpaid-jobs
  .customer-outstanding-money.owing
    background-color: #f88

.remove-customer-from-search-results
  &:hover
    cursor: pointer

tr.highlight-on-hover, tr.highlight-on-hover-linked
  &:hover, &.hovering
    background-color: #EEEEEE
  &.selected
    background-color: #EEEEDD

.work-list-in-viewport
  background-color: #FFDDDD
