.row
  .span4
    = form_for @expense, html: {multipart: true} do |f|
      = render 'shared/form_errors', resource: @expense
      - if request.referrer.present? && request.referrer['index']
        = hidden_field_tag :redirect_to, 'index'
      %div
        = f.label :date
        = f.date_field :date
      %div
        = f.label :price
        = f.text_field :price
      %div
        = f.label :vat, 'VAT'
        = f.text_field :vat
      %div
        = f.label :description
        = f.text_field :description
      %div
        = f.label :receipt_number
        = f.text_field :receipt_number
      #expense-notes
        = link_to 'Add notes', '#', id: 'expense-notes-link'
        %div{class: @expense.notes.present? ? "" : "hide"}
          = f.label :notes
          = f.text_area :notes
      %div
        - if @expense.attachments.count > 0
          %label Existing attachments
          %hr{style: "margin:0"}
          - @expense.attachments.each_with_index do |attachment, i|
            = hidden_field_tag "expense[delete_attachments[#{i}][id]]", attachment.id
            = link_to attachment.real_name, attachment.attachment.url, target: '_blank'
            = f.label "delete_attachments_#{i}_delete" do
              = check_box_tag "expense[delete_attachments[#{i}][delete]]"
              Delete
            %hr{style: "margin:0"}
          #new-attachments
            %label Add new attachments
        - else
          #new-attachments
            %label Attachments
      %div
        = f.submit class: "btn"

:javascript
  $(function() {
    $('a#expense-notes-link').on('click', function(e) {
      e.preventDefault();
      $(this).hide();
      $(this).siblings().show();
    });
    var addNewAttachmentField = function() {
      var index = $('#new-attachments input').length;
      $('#new-attachments').append('<input id="expense_new_attachments[' + index + '][file]" name="expense[new_attachments[' + index + '][file]]" type="file">');
    };
    $('#new-attachments').on('change', 'input:last', function() {
      if ($(this).val() && $(this).val().length > 0) {
        addNewAttachmentField();
      }
    });
    addNewAttachmentField();
  });
