- highlighted_expense_id = @expense_to_highlight.try(:id) || -1

%table.table.table-bordered
  %thead
    %tr
      %th &nbsp;
      %th Date
      %th Receipt No.
      %th Description
      %th Price
      %th VAT
      %th Total
      %th Attachments
      %th &nbsp;
  %tbody
    - expenses.each do |expense|
      %tr.clickable-row{class: (expense.bookmarked?(@bookmark_user, @bookmark_expense_ids_cache) ? ' bookmarked' : '') + (expense.id == highlighted_expense_id ? ' highlighted-expense' : ''), data: {resource: 'expenses', id: expense.id}}
        %td{style: 'background-color: #F8F8F8'}
          %span.icon.icon-bookmark.bookmarkable-bookmark{data: {bookmarkable_id: expense.id, bookmarkable_type: "Expense"}}
        %td.clickable= expense.date.to_s(:long)
        %td.clickable= expense.receipt_number
        %td.clickable= expense.description
        %td.clickable= expense.price.format
        %td.clickable= expense.vat.format
        %td.clickable= (expense.price + expense.vat).format
        %td 
          - if expense.attachments.count > 0
            = link_to "View", "#{expense.id}", class: 'expense-attachment-link'
            .modal.hide{data: {expense_id: expense.id}}
              .modal-header
                Attachments for '#{expense.description}'
              .modal-body
                - expense.attachments.each_with_index do |attachment, i|
                  - unless i == 0
                    %br
                  = link_to attachment.real_name, attachment.attachment.url, target: '_blank'
          - else
            None
        %td
          = link_to "Edit", edit_expense_path(expense)
          |
          = link_to "Delete", expense_path(expense), method: :delete, data: {confirm: "Are you sure?"}