= render 'finances/header'

= link_to "New expense", new_expense_path

%div
  = form_tag request.env['REQUEST_URI'], class: 'form-search customer-quick-search', method: :get do
    = hidden_field_tag :search_bookmarked, params[:search_bookmarked]
    = hidden_field_tag :page_before, params[:page_before]
    = text_field_tag "search_term", params[:search_term], class: 'search-query', placeholder: 'Search'
    %span.icon.icon-bookmark.customer-search-toggle{data: {toggle: 'tooltip', field: 'search_bookmarked'}.merge(bookmarked_toggle_values)}
    = select_tag "bookmark_user", options_from_collection_for_select(current_business.users, :id, :name, selected: @bookmark_user.id)
    = submit_tag 'Search >', class: 'btn'
    = submit_tag 'Jump to expense >', class: 'btn'

%div
  = will_paginate @expenses

- if @found_expenses.count > 1
  More than
  - if @found_expenses.count > 10
    10
  - else
    1
  expenses were found that matched the search criteria
  = render 'table', expenses: @found_expenses.first(10)

= render 'table', expenses: @expenses

%div
  = will_paginate @expenses

:javascript
  $(function() {
    $('a.expense-attachment-link').on('click', function(e) {
      e.preventDefault();
      $('.modal[data-expense-id="' + $(this).attr('href') + '"]').modal('show');
    });

    if ($('.highlighted-expense')[0]) {
      $('.highlighted-expense').get(0).scrollIntoView();
    }
  });
