= link_to "Edit", edit_expense_path(@expense)
= link_to "Delete", @expense, data: {method: :delete, confirm: 'Are you sure?'}
%table.table.table-bordered#expense-show-table
  %tbody
    %tr
      %th Date
      %td= @expense.date.to_s(:long)
    %tr
      %th Price
      %td= @expense.price.format
    %tr
      %th VAT
      %td= @expense.vat.format
    %tr
      %th Total
      %td= (@expense.price + @expense.vat).format
    %tr
      %th Receipt no.
      %td= @expense.receipt_number
    %tr
      %th Description
      %td= @expense.description
    - if @expense.notes.present?
      %th Notes
      %td= @expense.notes.try(:html_safe)
    %tr
      %th Attachments
      %td
        - if @expense.attachments.count > 0
          - @expense.attachments.each_with_index do |attachment, i|
            - unless i == 0
              %br
            = link_to attachment.real_name, attachment.attachment.url, target: '_blank'
        - else
          None
