.row
  .span4
    = form_for @work_list_category do |f|
      = render 'shared/form_errors', resource: @work_list_category
      %div
        = f.label :name
        = f.text_field :name
      %div
        = f.label :user_id, "User"
        = f.select :user_id, team_leaders_for_select
      %div
        = f.label :tag, "Default tag"
        = f.text_field :tag
      %div
        = f.label :target, "Target"
        = f.text_field :target
        .warning.alert.alert-error.hide
          All targets for work lists in future weeks will be updated and overwritten
      %div
        = f.label :balance_date_from
        = f.date_field :balance_date_from
      %div
        = f.submit class: 'btn'
