%div
  = link_to "New work list category", new_work_list_category_path

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th User
      %th Default tag
      %th Target
      %th &nbsp;
  %tbody
    - @work_list_categories.each do |work_list_category|
      %tr
        %td
          = work_list_category.name
        %td
          = work_list_category.user.try(:name)
        %td
          = work_list_category.tag
        %td
          = work_list_category.tag
        %td
          = work_list_category.target.format
        %td
          = link_to "Edit", edit_work_list_category_path(work_list_category)
          - if work_list_category.work_lists.count.zero?
            = link_to "Delete", work_list_category, method: :delete, data: {confirm: "Are you sure?"}
