= render 'form'

:javascript
  $(function() {
    var targetInput = $('input[name="work_list_category[target]"]');
    var originalValue = parseFloat(targetInput.val());
    targetInput.on('keyup', function() {
      if (parseFloat($(this).val()) === originalValue) {
        $(this).siblings('.warning').hide();
      } else {
        $(this).siblings('.warning').show();
      }
    });
  });
