!!!
%html
  %head
    %script{:src => "https://cdn.jsdelivr.net/jquery/latest/jquery.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/momentjs/latest/moment.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js", :type => "text/javascript"}
    %link{:href => "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css", :rel => "stylesheet", :type => "text/css"}/

    %title
      NclarkWindows#{@title && " - #{@title}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.hidden-print
      .navbar-inner.navbar-header
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            .jumbotron

          - if business_signed_in?
            = link_to current_business.name, root_path, class: "brand"
            %ul.nav.collapse.nav-collapse
              %li{class: active_if('customers')}
                - if current_user && current_user.admin? || current_user && current_user.super_admin?
                  = link_to "Customers", customers_path
              %li{class: active_if('weeks')}
                - if current_user && current_user.admin? || current_user && current_user.super_admin? || current_user && current_user.team_leader? || current_user && current_user.cleaner?
                  = link_to "Weeks", current_business.current_week || weeks_path
              - if current_user && current_user.admin? || current_user && current_user.super_admin?
                %li.dropdown{class: active_if(['finances', 'targets', 'expenses'])}
                  = link_to "#", class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                    Finances
                    %b.caret
                  %ul.dropdown-menu

                    %li{class: active_if('finances', 'index')}
                      = link_to "Overview", finances_path
                    %li{class: active_if('finances', 'weeks')}
                      = link_to "Weeks", weeks_finances_path
                    %li{class: active_if('targets')}
                      = link_to "Targets", targets_path
                    %li{class: active_if('expenses')}
                      = link_to "Expenses", expenses_path
              - if current_user
                %li.dropdown
                  = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                    = current_user.name
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      - if current_user.super_admin?
                        = link_to "Business settings", edit_business_registration_path
                    %li{class: active_if('pages', 'work_list_settings')}
                      - if current_user && current_user.admin? || current_user && current_user.super_admin?
                        = link_to "Work list settings", work_list_settings_path
                    %li{class: active_if('areas')}
                      - if current_user && current_user.admin? || current_user && current_user.super_admin?
                        = link_to "Areas", areas_path
                    - if current_user.super_admin? || current_user.admin?
                      %li{class: active_if('users')}
                        = link_to "Users", users_path
                    - else
                      %li{class: active_if('users')}
                        = link_to "My profile", edit_user_path(current_user)
                    %li
                      = link_to "Sign out", sign_out_user_users_path
              - else
                %li
                  = link_to "Sign out", sign_out_user_users_path
          - else
            = link_to "Window Cleaning Manager", root_path, class: "brand"
            %ul.nav.collapse.nav-collapse
              %li= link_to "Sign in", new_business_session_path
            - if current_user && current_user.admin? || current_user && current_user.super_admin?
              %li= link_to "Sign up", new_business_registration_path

    .container
      - unless flash.empty?
        - flash.each do |key, value|
          .alert{class: "alert-#{key}"}
            = value

      - if @title || @html_title
        %h2= @html_title.try(:html_safe) || @title

      = yield

    = render 'layouts/wysihtml5_toolbar_template'
