!!!
%html
  %head
    %title
      NclarkWindows#{@title && " - #{@title}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      - unless flash.empty?
        - flash.each do |key, value|
          .alert{class: "alert-#{key}"}
            = value

      - if @title
        %h2= @title
      
      = yield

    = render 'layouts/wysihtml5_toolbar_template'
